/* variables */
/* general */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

/* navigation */
nav {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  background: #121519;
  text-transform: uppercase;
  padding: 0 20px 0 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  color: #aab2bf;
}

.navigation div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.navigation div h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.navigation div h1 span {
  color: #aab2bf;
}

.navigation ul {
  display: block;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 50px;
}

.navigation ul li {
  display: inline;
  padding: 0 10px;
}

.navigation ul li a {
  color: #aab2bf;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #fff;
}

.navigation-mobile {
  display: none;
  height: 100%;
}

.navigation-mobile .title {
  padding: 0 20px;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aab2bf;
}

.navigation-mobile .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 97%;
      -ms-flex: 97% 0;
          flex: 97% 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation-mobile .title div h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.navigation-mobile .title div h2 {
  font-size: 12px;
  font-weight: normal;
}

.navigation-mobile .title i {
  width: 16px;
  -webkit-box-flex: 3%;
      -ms-flex: 3% 0;
          flex: 3% 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #aab2bf;
  cursor: pointer;
}

.navigation-mobile .title i:hover {
  color: #fff;
}

.dropdown {
  display: none;
  width: 100vw;
  background-color: #121519;
  line-height: 50px;
  padding: 20px 0;
}

.dropdown li {
  text-align: center;
  padding: 0 10px;
}

.dropdown li a {
  color: #aab2bf;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #fff;
}

.dropdown-show {
  display: block;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
}

/* header */
header {
  background: #121519;
  background: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#121519));
  background: linear-gradient(to bottom, #222831, #121519);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 280px;
  color: #aab2bf;
}

.part-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 120px;
  z-index: 3;
}

.part-two {
  position: absolute;
  top: 120px;
  left: 320px;
  width: 120px;
  height: 80px;
  z-index: 2;
}

.part-three {
  position: absolute;
  top: 200px;
  left: 440px;
  width: 40px;
  height: 80px;
  z-index: 1;
}

.star-one,
.star-two,
.star-three,
.star-four {
  position: absolute;
  border-radius: 50%;
  background: white;
}

.star-one {
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.star-two {
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
}

.star-three,
.star-four {
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}

.star-one::before,
.star-two::before,
.star-three::before,
.star-four::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #bdffff;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.star-two::before {
  width: 30px;
  height: 30px;
}

.link-one,
.link-two,
.link-three,
.link-four {
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.link-one {
  top: -7px;
  left: -100px;
}

.link-two {
  bottom: 0px;
  right: -90px;
}

.link-three {
  bottom: -20px;
  right: 30px;
}

.link-four {
  bottom: 0;
  right: -90px;
}

.link-wrapper {
  width: 100%;
}

.link-wrapper:hover {
  cursor: pointer;
}

.link-wrapper:hover .star-one::before,
.link-wrapper:hover .star-three::before,
.link-wrapper:hover .star-four::before {
  width: 30px;
  height: 30px;
}

.link-wrapper:hover .star-two:before {
  width: 40px;
  height: 40px;
}

.link-wrapper:hover .link-one,
.link-wrapper:hover .link-two,
.link-wrapper:hover .link-three,
.link-wrapper:hover .link-four {
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.stars-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: starsAnimation 200s linear infinite;
          animation: starsAnimation 200s linear infinite;
}

.stars-one {
  opacity: .5;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 1142px 1564px #fff , 1637px 1353px #fff , 1256px 1956px #fff , 218px 583px #fff , 905px 1814px #fff , 1949px 150px #fff , 1876px 944px #fff , 1102px 1662px #fff , 1526px 1079px #fff , 283px 1888px #fff , 1746px 249px #fff , 1195px 1012px #fff , 1966px 1262px #fff , 21px 1157px #fff , 191px 294px #fff , 856px 1194px #fff , 1970px 1958px #fff , 1525px 1669px #fff , 908px 950px #fff , 1853px 1440px #fff , 1119px 309px #fff , 1127px 1176px #fff , 84px 1914px #fff , 617px 233px #fff , 997px 1814px #fff , 796px 1479px #fff , 1107px 27px #fff , 1677px 1365px #fff , 1614px 1594px #fff , 384px 1857px #fff , 1570px 1256px #fff , 1587px 1850px #fff , 465px 201px #fff , 1717px 1280px #fff , 1278px 438px #fff , 224px 105px #fff , 1384px 1253px #fff , 222px 1711px #fff , 1986px 580px #fff , 64px 1106px #fff , 1801px 777px #fff , 347px 1978px #fff , 156px 477px #fff , 998px 1825px #fff , 816px 1448px #fff , 492px 910px #fff , 1482px 1051px #fff , 1655px 595px #fff , 749px 1683px #fff , 973px 1585px #fff , 1987px 1919px #fff , 42px 165px #fff , 444px 1747px #fff , 667px 769px #fff , 518px 1644px #fff , 557px 843px #fff , 808px 49px #fff , 680px 62px #fff , 402px 1141px #fff , 1104px 1775px #fff , 1994px 122px #fff , 129px 663px #fff , 88px 33px #fff , 259px 613px #fff , 1028px 732px #fff , 141px 1979px #fff , 1637px 34px #fff , 1684px 125px #fff , 1601px 333px #fff , 851px 942px #fff , 1743px 1489px #fff , 1344px 1957px #fff , 1843px 1842px #fff , 1090px 1401px #fff , 1802px 1531px #fff , 1724px 771px #fff , 1590px 1705px #fff , 441px 1941px #fff , 1877px 311px #fff , 8px 1088px #fff , 650px 393px #fff , 1939px 866px #fff , 43px 202px #fff , 1694px 1742px #fff , 1374px 515px #fff , 1261px 467px #fff , 137px 178px #fff , 1544px 956px #fff , 993px 249px #fff , 1170px 1347px #fff , 1700px 1773px #fff , 1182px 1397px #fff , 344px 1167px #fff , 1614px 76px #fff , 1305px 1214px #fff , 1044px 1937px #fff , 808px 905px #fff , 1215px 1336px #fff , 1651px 1620px #fff , 669px 1277px #fff;
          box-shadow: 1142px 1564px #fff , 1637px 1353px #fff , 1256px 1956px #fff , 218px 583px #fff , 905px 1814px #fff , 1949px 150px #fff , 1876px 944px #fff , 1102px 1662px #fff , 1526px 1079px #fff , 283px 1888px #fff , 1746px 249px #fff , 1195px 1012px #fff , 1966px 1262px #fff , 21px 1157px #fff , 191px 294px #fff , 856px 1194px #fff , 1970px 1958px #fff , 1525px 1669px #fff , 908px 950px #fff , 1853px 1440px #fff , 1119px 309px #fff , 1127px 1176px #fff , 84px 1914px #fff , 617px 233px #fff , 997px 1814px #fff , 796px 1479px #fff , 1107px 27px #fff , 1677px 1365px #fff , 1614px 1594px #fff , 384px 1857px #fff , 1570px 1256px #fff , 1587px 1850px #fff , 465px 201px #fff , 1717px 1280px #fff , 1278px 438px #fff , 224px 105px #fff , 1384px 1253px #fff , 222px 1711px #fff , 1986px 580px #fff , 64px 1106px #fff , 1801px 777px #fff , 347px 1978px #fff , 156px 477px #fff , 998px 1825px #fff , 816px 1448px #fff , 492px 910px #fff , 1482px 1051px #fff , 1655px 595px #fff , 749px 1683px #fff , 973px 1585px #fff , 1987px 1919px #fff , 42px 165px #fff , 444px 1747px #fff , 667px 769px #fff , 518px 1644px #fff , 557px 843px #fff , 808px 49px #fff , 680px 62px #fff , 402px 1141px #fff , 1104px 1775px #fff , 1994px 122px #fff , 129px 663px #fff , 88px 33px #fff , 259px 613px #fff , 1028px 732px #fff , 141px 1979px #fff , 1637px 34px #fff , 1684px 125px #fff , 1601px 333px #fff , 851px 942px #fff , 1743px 1489px #fff , 1344px 1957px #fff , 1843px 1842px #fff , 1090px 1401px #fff , 1802px 1531px #fff , 1724px 771px #fff , 1590px 1705px #fff , 441px 1941px #fff , 1877px 311px #fff , 8px 1088px #fff , 650px 393px #fff , 1939px 866px #fff , 43px 202px #fff , 1694px 1742px #fff , 1374px 515px #fff , 1261px 467px #fff , 137px 178px #fff , 1544px 956px #fff , 993px 249px #fff , 1170px 1347px #fff , 1700px 1773px #fff , 1182px 1397px #fff , 344px 1167px #fff , 1614px 76px #fff , 1305px 1214px #fff , 1044px 1937px #fff , 808px 905px #fff , 1215px 1336px #fff , 1651px 1620px #fff , 669px 1277px #fff;
}

.stars-one::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 382px 780px #fff , 1377px 921px #fff , 345px 746px #fff , 69px 550px #fff , 380px 1155px #fff , 1797px 1307px #fff , 580px 1330px #fff , 1405px 1941px #fff , 14px 380px #fff , 1532px 513px #fff , 1985px 1965px #fff , 1035px 1457px #fff , 1933px 1911px #fff , 37px 335px #fff , 1535px 589px #fff , 1288px 1115px #fff , 1743px 386px #fff , 1333px 969px #fff , 724px 773px #fff , 521px 843px #fff , 757px 1898px #fff , 390px 1985px #fff , 1171px 1142px #fff , 1329px 832px #fff , 1296px 738px #fff , 1448px 792px #fff , 718px 586px #fff , 432px 1351px #fff , 940px 635px #fff , 15px 17px #fff , 376px 1576px #fff , 669px 9px #fff , 370px 1215px #fff , 1279px 1394px #fff , 70px 829px #fff , 1524px 322px #fff , 1243px 708px #fff , 940px 425px #fff , 498px 551px #fff , 1154px 1167px #fff , 1743px 283px #fff , 871px 961px #fff , 1859px 1097px #fff , 155px 1735px #fff , 1750px 1278px #fff , 161px 566px #fff , 516px 1722px #fff , 616px 1215px #fff , 675px 1890px #fff , 266px 1574px #fff , 1816px 1417px #fff , 1655px 1499px #fff , 193px 388px #fff , 650px 1862px #fff , 826px 1040px #fff , 1564px 1315px #fff , 1379px 1293px #fff , 940px 1031px #fff , 1674px 1144px #fff , 159px 173px #fff , 94px 1762px #fff , 1861px 995px #fff , 240px 1648px #fff , 749px 1001px #fff , 233px 1941px #fff , 594px 1156px #fff , 648px 559px #fff , 1494px 1255px #fff , 18px 1750px #fff , 914px 1385px #fff , 1334px 1341px #fff , 1322px 1873px #fff , 165px 1338px #fff , 905px 1821px #fff , 1163px 1788px #fff , 1448px 409px #fff , 291px 1073px #fff , 1625px 1648px #fff , 662px 1635px #fff , 428px 1511px #fff , 125px 385px #fff , 1302px 912px #fff , 1714px 1651px #fff , 1251px 1312px #fff , 856px 984px #fff , 40px 1590px #fff , 1821px 553px #fff , 900px 1452px #fff , 1418px 1204px #fff , 1325px 1673px #fff , 1504px 1652px #fff , 1383px 1867px #fff , 17px 1481px #fff , 1492px 557px #fff , 578px 1025px #fff , 925px 1439px #fff , 1758px 1444px #fff , 539px 31px #fff , 329px 1447px #fff , 837px 1240px #fff;
          box-shadow: 382px 780px #fff , 1377px 921px #fff , 345px 746px #fff , 69px 550px #fff , 380px 1155px #fff , 1797px 1307px #fff , 580px 1330px #fff , 1405px 1941px #fff , 14px 380px #fff , 1532px 513px #fff , 1985px 1965px #fff , 1035px 1457px #fff , 1933px 1911px #fff , 37px 335px #fff , 1535px 589px #fff , 1288px 1115px #fff , 1743px 386px #fff , 1333px 969px #fff , 724px 773px #fff , 521px 843px #fff , 757px 1898px #fff , 390px 1985px #fff , 1171px 1142px #fff , 1329px 832px #fff , 1296px 738px #fff , 1448px 792px #fff , 718px 586px #fff , 432px 1351px #fff , 940px 635px #fff , 15px 17px #fff , 376px 1576px #fff , 669px 9px #fff , 370px 1215px #fff , 1279px 1394px #fff , 70px 829px #fff , 1524px 322px #fff , 1243px 708px #fff , 940px 425px #fff , 498px 551px #fff , 1154px 1167px #fff , 1743px 283px #fff , 871px 961px #fff , 1859px 1097px #fff , 155px 1735px #fff , 1750px 1278px #fff , 161px 566px #fff , 516px 1722px #fff , 616px 1215px #fff , 675px 1890px #fff , 266px 1574px #fff , 1816px 1417px #fff , 1655px 1499px #fff , 193px 388px #fff , 650px 1862px #fff , 826px 1040px #fff , 1564px 1315px #fff , 1379px 1293px #fff , 940px 1031px #fff , 1674px 1144px #fff , 159px 173px #fff , 94px 1762px #fff , 1861px 995px #fff , 240px 1648px #fff , 749px 1001px #fff , 233px 1941px #fff , 594px 1156px #fff , 648px 559px #fff , 1494px 1255px #fff , 18px 1750px #fff , 914px 1385px #fff , 1334px 1341px #fff , 1322px 1873px #fff , 165px 1338px #fff , 905px 1821px #fff , 1163px 1788px #fff , 1448px 409px #fff , 291px 1073px #fff , 1625px 1648px #fff , 662px 1635px #fff , 428px 1511px #fff , 125px 385px #fff , 1302px 912px #fff , 1714px 1651px #fff , 1251px 1312px #fff , 856px 984px #fff , 40px 1590px #fff , 1821px 553px #fff , 900px 1452px #fff , 1418px 1204px #fff , 1325px 1673px #fff , 1504px 1652px #fff , 1383px 1867px #fff , 17px 1481px #fff , 1492px 557px #fff , 578px 1025px #fff , 925px 1439px #fff , 1758px 1444px #fff , 539px 31px #fff , 329px 1447px #fff , 837px 1240px #fff;
}

.stars-two {
  opacity: .5;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 532px 127px #fff , 1384px 1168px #fff , 845px 1922px #fff , 172px 1130px #fff , 1598px 1835px #fff , 738px 533px #fff , 435px 412px #fff , 378px 1609px #fff , 1210px 748px #fff , 1699px 1679px #fff , 1150px 356px #fff , 185px 1252px #fff , 1394px 453px #fff , 1922px 414px #fff , 463px 1685px #fff , 1886px 372px #fff , 1784px 1343px #fff , 185px 1350px #fff , 604px 311px #fff , 1129px 1812px #fff , 51px 1819px #fff , 635px 150px #fff , 61px 156px #fff , 389px 465px #fff , 1393px 1020px #fff , 640px 15px #fff , 1485px 1054px #fff , 1744px 1519px #fff , 1871px 303px #fff , 359px 1672px #fff , 1081px 880px #fff , 1231px 1206px #fff , 501px 316px #fff , 1353px 1419px #fff , 36px 1324px #fff , 325px 1352px #fff , 1169px 1770px #fff , 905px 837px #fff , 1538px 552px #fff , 1696px 1389px #fff , 1276px 1025px #fff , 1436px 549px #fff , 1261px 1156px #fff , 915px 1512px #fff , 1480px 429px #fff , 468px 1098px #fff , 870px 1975px #fff , 1113px 420px #fff , 1077px 1623px #fff , 11px 1567px #fff , 913px 179px #fff , 1718px 1768px #fff , 538px 1792px #fff , 135px 555px #fff , 1444px 1719px #fff , 633px 719px #fff , 657px 562px #fff , 1px 263px #fff , 262px 673px #fff , 1482px 1183px #fff , 1987px 1742px #fff , 2px 584px #fff , 1693px 154px #fff , 1464px 309px #fff , 507px 1192px #fff , 1590px 1413px #fff , 335px 1500px #fff , 834px 146px #fff , 1px 353px #fff , 1400px 1822px #fff , 1476px 1386px #fff , 198px 535px #fff , 1619px 1604px #fff , 1716px 871px #fff , 331px 1240px #fff , 611px 170px #fff , 339px 1099px #fff , 1987px 167px #fff , 1264px 892px #fff , 1842px 1348px #fff , 1155px 1807px #fff , 1636px 337px #fff , 1174px 95px #fff , 1690px 1629px #fff , 242px 698px #fff , 1664px 970px #fff , 1902px 461px #fff , 331px 1170px #fff , 1008px 1139px #fff , 36px 1985px #fff , 816px 38px #fff , 580px 442px #fff , 1913px 1378px #fff , 1756px 1299px #fff , 551px 397px #fff , 855px 114px #fff , 596px 528px #fff , 128px 1389px #fff , 1870px 794px #fff , 169px 29px #fff , 1133px 578px #fff , 1614px 1143px #fff , 1134px 1375px #fff , 1915px 1039px #fff , 65px 128px #fff , 1051px 221px #fff , 792px 662px #fff , 695px 171px #fff , 767px 25px #fff , 351px 1384px #fff , 932px 1240px #fff , 1128px 369px #fff , 1667px 1657px #fff , 518px 1872px #fff , 657px 1772px #fff , 1391px 1384px #fff , 1283px 298px #fff , 1813px 236px #fff , 654px 1162px #fff , 249px 1223px #fff , 1230px 100px #fff , 1127px 1678px #fff , 133px 70px #fff , 34px 1583px #fff , 1842px 1793px #fff , 663px 1698px #fff , 1643px 30px #fff , 1560px 1912px #fff , 1661px 906px #fff , 816px 121px #fff , 482px 400px #fff , 546px 544px #fff , 497px 497px #fff , 1457px 56px #fff , 52px 936px #fff , 1380px 572px #fff , 1435px 1093px #fff , 1305px 1853px #fff , 314px 1576px #fff , 100px 1521px #fff , 1345px 1854px #fff , 1596px 1388px #fff , 921px 1944px #fff , 1505px 923px #fff , 1250px 852px #fff , 1493px 808px #fff , 1695px 1210px #fff , 1194px 1919px #fff , 1064px 1615px #fff , 259px 1287px #fff , 328px 604px #fff , 817px 1494px #fff , 4px 510px #fff , 1836px 611px #fff , 1046px 295px #fff , 1765px 1813px #fff , 1914px 176px #fff , 1614px 1912px #fff , 53px 1636px #fff , 659px 179px #fff , 715px 1060px #fff , 1872px 1718px #fff , 632px 33px #fff , 580px 374px #fff , 1350px 721px #fff , 836px 1468px #fff , 372px 1691px #fff , 972px 1264px #fff , 1277px 645px #fff , 612px 224px #fff , 1500px 1202px #fff , 614px 279px #fff , 1441px 1067px #fff , 654px 1965px #fff , 1684px 986px #fff , 1705px 1681px #fff , 1757px 280px #fff , 1114px 1351px #fff , 1623px 613px #fff , 1454px 1517px #fff , 1555px 570px #fff , 1298px 312px #fff , 1660px 1215px #fff , 1708px 1518px #fff , 1656px 353px #fff , 238px 1535px #fff , 380px 502px #fff , 529px 1260px #fff , 731px 44px #fff , 1726px 410px #fff , 1253px 712px #fff , 406px 1816px #fff , 179px 1368px #fff , 685px 787px #fff , 305px 304px #fff , 700px 1350px #fff , 1222px 1142px #fff , 821px 3px #fff , 965px 1716px #fff , 133px 659px #fff , 87px 1340px #fff , 1275px 1710px #fff , 335px 199px #fff , 118px 1049px #fff , 697px 230px #fff , 252px 86px #fff , 331px 738px #fff , 1413px 844px #fff , 1079px 1036px #fff , 1535px 1508px #fff , 1298px 374px #fff , 515px 707px #fff , 1698px 1056px #fff , 1062px 1708px #fff , 46px 1841px #fff , 1724px 1042px #fff , 1854px 994px #fff , 1357px 1594px #fff , 968px 218px #fff , 809px 574px #fff , 227px 1621px #fff , 1747px 1294px #fff , 1441px 516px #fff , 181px 853px #fff , 329px 118px #fff , 1274px 625px #fff , 1353px 1967px #fff , 1966px 1589px #fff , 1233px 146px #fff , 1622px 321px #fff , 54px 1410px #fff , 1234px 233px #fff , 1142px 198px #fff , 970px 686px #fff , 93px 1870px #fff , 1548px 75px #fff , 1485px 1619px #fff , 863px 624px #fff , 1897px 1004px #fff , 1073px 563px #fff , 858px 688px #fff , 1513px 1022px #fff , 97px 1707px #fff , 220px 3px #fff , 361px 33px #fff , 1766px 433px #fff , 331px 1415px #fff , 961px 1147px #fff , 325px 1818px #fff , 1377px 1901px #fff , 1592px 59px #fff , 1710px 251px #fff , 453px 1940px #fff , 1232px 850px #fff , 149px 1359px #fff , 195px 1158px #fff , 1330px 633px #fff , 522px 970px #fff , 1920px 1764px #fff , 1398px 1503px #fff , 453px 1562px #fff , 595px 167px #fff , 232px 603px #fff , 1367px 1183px #fff , 32px 193px #fff , 1629px 720px #fff , 1484px 794px #fff , 1967px 900px #fff , 1055px 1566px #fff , 1315px 1946px #fff , 976px 1540px #fff , 210px 1651px #fff , 253px 376px #fff , 467px 1167px #fff , 1644px 1463px #fff , 515px 1678px #fff , 1424px 1833px #fff , 817px 190px #fff , 593px 65px #fff , 208px 1601px #fff , 403px 1089px #fff , 1765px 409px #fff , 524px 4px #fff , 1675px 783px #fff , 1801px 1209px #fff , 447px 1485px #fff , 628px 122px #fff , 798px 519px #fff , 965px 357px #fff , 738px 1763px #fff , 1617px 1109px #fff , 996px 736px #fff , 657px 1168px #fff , 776px 288px #fff , 1154px 1453px #fff , 1258px 574px #fff , 314px 525px #fff , 394px 1166px #fff , 463px 1290px #fff , 2000px 1160px #fff;
          box-shadow: 532px 127px #fff , 1384px 1168px #fff , 845px 1922px #fff , 172px 1130px #fff , 1598px 1835px #fff , 738px 533px #fff , 435px 412px #fff , 378px 1609px #fff , 1210px 748px #fff , 1699px 1679px #fff , 1150px 356px #fff , 185px 1252px #fff , 1394px 453px #fff , 1922px 414px #fff , 463px 1685px #fff , 1886px 372px #fff , 1784px 1343px #fff , 185px 1350px #fff , 604px 311px #fff , 1129px 1812px #fff , 51px 1819px #fff , 635px 150px #fff , 61px 156px #fff , 389px 465px #fff , 1393px 1020px #fff , 640px 15px #fff , 1485px 1054px #fff , 1744px 1519px #fff , 1871px 303px #fff , 359px 1672px #fff , 1081px 880px #fff , 1231px 1206px #fff , 501px 316px #fff , 1353px 1419px #fff , 36px 1324px #fff , 325px 1352px #fff , 1169px 1770px #fff , 905px 837px #fff , 1538px 552px #fff , 1696px 1389px #fff , 1276px 1025px #fff , 1436px 549px #fff , 1261px 1156px #fff , 915px 1512px #fff , 1480px 429px #fff , 468px 1098px #fff , 870px 1975px #fff , 1113px 420px #fff , 1077px 1623px #fff , 11px 1567px #fff , 913px 179px #fff , 1718px 1768px #fff , 538px 1792px #fff , 135px 555px #fff , 1444px 1719px #fff , 633px 719px #fff , 657px 562px #fff , 1px 263px #fff , 262px 673px #fff , 1482px 1183px #fff , 1987px 1742px #fff , 2px 584px #fff , 1693px 154px #fff , 1464px 309px #fff , 507px 1192px #fff , 1590px 1413px #fff , 335px 1500px #fff , 834px 146px #fff , 1px 353px #fff , 1400px 1822px #fff , 1476px 1386px #fff , 198px 535px #fff , 1619px 1604px #fff , 1716px 871px #fff , 331px 1240px #fff , 611px 170px #fff , 339px 1099px #fff , 1987px 167px #fff , 1264px 892px #fff , 1842px 1348px #fff , 1155px 1807px #fff , 1636px 337px #fff , 1174px 95px #fff , 1690px 1629px #fff , 242px 698px #fff , 1664px 970px #fff , 1902px 461px #fff , 331px 1170px #fff , 1008px 1139px #fff , 36px 1985px #fff , 816px 38px #fff , 580px 442px #fff , 1913px 1378px #fff , 1756px 1299px #fff , 551px 397px #fff , 855px 114px #fff , 596px 528px #fff , 128px 1389px #fff , 1870px 794px #fff , 169px 29px #fff , 1133px 578px #fff , 1614px 1143px #fff , 1134px 1375px #fff , 1915px 1039px #fff , 65px 128px #fff , 1051px 221px #fff , 792px 662px #fff , 695px 171px #fff , 767px 25px #fff , 351px 1384px #fff , 932px 1240px #fff , 1128px 369px #fff , 1667px 1657px #fff , 518px 1872px #fff , 657px 1772px #fff , 1391px 1384px #fff , 1283px 298px #fff , 1813px 236px #fff , 654px 1162px #fff , 249px 1223px #fff , 1230px 100px #fff , 1127px 1678px #fff , 133px 70px #fff , 34px 1583px #fff , 1842px 1793px #fff , 663px 1698px #fff , 1643px 30px #fff , 1560px 1912px #fff , 1661px 906px #fff , 816px 121px #fff , 482px 400px #fff , 546px 544px #fff , 497px 497px #fff , 1457px 56px #fff , 52px 936px #fff , 1380px 572px #fff , 1435px 1093px #fff , 1305px 1853px #fff , 314px 1576px #fff , 100px 1521px #fff , 1345px 1854px #fff , 1596px 1388px #fff , 921px 1944px #fff , 1505px 923px #fff , 1250px 852px #fff , 1493px 808px #fff , 1695px 1210px #fff , 1194px 1919px #fff , 1064px 1615px #fff , 259px 1287px #fff , 328px 604px #fff , 817px 1494px #fff , 4px 510px #fff , 1836px 611px #fff , 1046px 295px #fff , 1765px 1813px #fff , 1914px 176px #fff , 1614px 1912px #fff , 53px 1636px #fff , 659px 179px #fff , 715px 1060px #fff , 1872px 1718px #fff , 632px 33px #fff , 580px 374px #fff , 1350px 721px #fff , 836px 1468px #fff , 372px 1691px #fff , 972px 1264px #fff , 1277px 645px #fff , 612px 224px #fff , 1500px 1202px #fff , 614px 279px #fff , 1441px 1067px #fff , 654px 1965px #fff , 1684px 986px #fff , 1705px 1681px #fff , 1757px 280px #fff , 1114px 1351px #fff , 1623px 613px #fff , 1454px 1517px #fff , 1555px 570px #fff , 1298px 312px #fff , 1660px 1215px #fff , 1708px 1518px #fff , 1656px 353px #fff , 238px 1535px #fff , 380px 502px #fff , 529px 1260px #fff , 731px 44px #fff , 1726px 410px #fff , 1253px 712px #fff , 406px 1816px #fff , 179px 1368px #fff , 685px 787px #fff , 305px 304px #fff , 700px 1350px #fff , 1222px 1142px #fff , 821px 3px #fff , 965px 1716px #fff , 133px 659px #fff , 87px 1340px #fff , 1275px 1710px #fff , 335px 199px #fff , 118px 1049px #fff , 697px 230px #fff , 252px 86px #fff , 331px 738px #fff , 1413px 844px #fff , 1079px 1036px #fff , 1535px 1508px #fff , 1298px 374px #fff , 515px 707px #fff , 1698px 1056px #fff , 1062px 1708px #fff , 46px 1841px #fff , 1724px 1042px #fff , 1854px 994px #fff , 1357px 1594px #fff , 968px 218px #fff , 809px 574px #fff , 227px 1621px #fff , 1747px 1294px #fff , 1441px 516px #fff , 181px 853px #fff , 329px 118px #fff , 1274px 625px #fff , 1353px 1967px #fff , 1966px 1589px #fff , 1233px 146px #fff , 1622px 321px #fff , 54px 1410px #fff , 1234px 233px #fff , 1142px 198px #fff , 970px 686px #fff , 93px 1870px #fff , 1548px 75px #fff , 1485px 1619px #fff , 863px 624px #fff , 1897px 1004px #fff , 1073px 563px #fff , 858px 688px #fff , 1513px 1022px #fff , 97px 1707px #fff , 220px 3px #fff , 361px 33px #fff , 1766px 433px #fff , 331px 1415px #fff , 961px 1147px #fff , 325px 1818px #fff , 1377px 1901px #fff , 1592px 59px #fff , 1710px 251px #fff , 453px 1940px #fff , 1232px 850px #fff , 149px 1359px #fff , 195px 1158px #fff , 1330px 633px #fff , 522px 970px #fff , 1920px 1764px #fff , 1398px 1503px #fff , 453px 1562px #fff , 595px 167px #fff , 232px 603px #fff , 1367px 1183px #fff , 32px 193px #fff , 1629px 720px #fff , 1484px 794px #fff , 1967px 900px #fff , 1055px 1566px #fff , 1315px 1946px #fff , 976px 1540px #fff , 210px 1651px #fff , 253px 376px #fff , 467px 1167px #fff , 1644px 1463px #fff , 515px 1678px #fff , 1424px 1833px #fff , 817px 190px #fff , 593px 65px #fff , 208px 1601px #fff , 403px 1089px #fff , 1765px 409px #fff , 524px 4px #fff , 1675px 783px #fff , 1801px 1209px #fff , 447px 1485px #fff , 628px 122px #fff , 798px 519px #fff , 965px 357px #fff , 738px 1763px #fff , 1617px 1109px #fff , 996px 736px #fff , 657px 1168px #fff , 776px 288px #fff , 1154px 1453px #fff , 1258px 574px #fff , 314px 525px #fff , 394px 1166px #fff , 463px 1290px #fff , 2000px 1160px #fff;
}

.stars-two::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 1652px 991px #fff , 229px 616px #fff , 1740px 651px #fff , 1577px 742px #fff , 490px 378px #fff , 353px 1701px #fff , 1894px 887px #fff , 414px 1810px #fff , 1295px 1420px #fff , 1632px 1469px #fff , 598px 120px #fff , 775px 1729px #fff , 641px 881px #fff , 915px 922px #fff , 1054px 528px #fff , 661px 1149px #fff , 1964px 1052px #fff , 1321px 452px #fff , 197px 1183px #fff , 1007px 1590px #fff , 1105px 1933px #fff , 184px 1674px #fff , 850px 1570px #fff , 1576px 141px #fff , 1423px 1371px #fff , 1258px 1447px #fff , 950px 443px #fff , 1840px 1833px #fff , 829px 928px #fff , 1429px 487px #fff , 593px 110px #fff , 1500px 757px #fff , 1893px 1020px #fff , 757px 1432px #fff , 535px 215px #fff , 1330px 554px #fff , 229px 1378px #fff , 515px 886px #fff , 492px 1157px #fff , 1070px 348px #fff , 135px 890px #fff , 17px 1585px #fff , 667px 1589px #fff , 808px 652px #fff , 80px 1506px #fff , 1110px 257px #fff , 885px 1760px #fff , 301px 369px #fff , 1327px 32px #fff , 1568px 1198px #fff , 163px 158px #fff , 197px 216px #fff , 179px 1914px #fff , 1671px 1865px #fff , 288px 125px #fff , 1446px 884px #fff , 501px 1198px #fff , 958px 601px #fff , 925px 553px #fff , 564px 581px #fff , 1179px 44px #fff , 469px 1503px #fff , 266px 946px #fff , 305px 685px #fff , 1932px 1942px #fff , 1353px 31px #fff , 616px 1996px #fff , 1133px 1932px #fff , 1422px 1381px #fff , 1222px 1390px #fff , 1995px 1248px #fff , 494px 405px #fff , 1979px 242px #fff , 1121px 1978px #fff , 362px 331px #fff , 1974px 1274px #fff , 407px 887px #fff , 289px 469px #fff , 1365px 638px #fff , 1217px 307px #fff , 617px 821px #fff , 171px 330px #fff , 1060px 845px #fff , 1923px 316px #fff , 1110px 1621px #fff , 479px 1195px #fff , 1601px 1342px #fff , 1360px 1332px #fff , 634px 270px #fff , 860px 677px #fff , 376px 44px #fff , 60px 1272px #fff , 1493px 645px #fff , 827px 1127px #fff , 1200px 1337px #fff , 856px 1631px #fff , 817px 1372px #fff , 1792px 209px #fff , 295px 988px #fff , 1940px 136px #fff , 1600px 132px #fff , 198px 1769px #fff , 1829px 1496px #fff , 698px 390px #fff , 490px 342px #fff , 19px 1831px #fff , 615px 419px #fff , 1703px 97px #fff , 113px 562px #fff , 1932px 1536px #fff , 1534px 1676px #fff , 543px 1743px #fff , 119px 1587px #fff , 1693px 1346px #fff , 458px 1422px #fff , 1297px 405px #fff , 1287px 1097px #fff , 390px 877px #fff , 661px 363px #fff , 1589px 960px #fff , 1645px 76px #fff , 1122px 1317px #fff , 1295px 1522px #fff , 1882px 379px #fff , 1012px 1302px #fff , 377px 1226px #fff , 628px 63px #fff , 216px 1932px #fff , 1821px 105px #fff , 1685px 368px #fff , 721px 1088px #fff , 765px 1482px #fff , 38px 1745px #fff , 2000px 1147px #fff , 1287px 1941px #fff , 161px 368px #fff , 538px 1958px #fff , 435px 72px #fff , 1193px 965px #fff , 631px 1218px #fff , 334px 1782px #fff , 88px 575px #fff , 1494px 1512px #fff , 797px 1121px #fff , 925px 1828px #fff , 785px 1148px #fff , 370px 125px #fff , 1638px 73px #fff , 1012px 277px #fff , 1341px 444px #fff , 1257px 194px #fff , 1339px 1574px #fff , 351px 792px #fff , 176px 1540px #fff , 451px 1683px #fff , 1362px 1873px #fff , 580px 798px #fff , 1497px 298px #fff , 1668px 1235px #fff , 23px 762px #fff , 452px 1047px #fff , 1223px 940px #fff , 1294px 309px #fff , 205px 499px #fff , 900px 669px #fff , 952px 321px #fff , 1166px 1901px #fff , 1059px 243px #fff , 543px 1542px #fff , 995px 1269px #fff , 1709px 391px #fff , 1903px 1848px #fff , 865px 1159px #fff , 651px 188px #fff , 1582px 41px #fff , 1837px 635px #fff , 758px 1721px #fff , 1953px 1635px #fff , 914px 410px #fff , 1905px 24px #fff , 585px 1475px #fff , 1797px 841px #fff , 932px 644px #fff , 375px 1620px #fff , 608px 1682px #fff , 1242px 65px #fff , 537px 1127px #fff , 1686px 1494px #fff , 60px 1328px #fff , 770px 124px #fff , 1223px 1999px #fff , 1833px 1438px #fff , 7px 513px #fff , 40px 558px #fff , 1642px 328px #fff , 1276px 1596px #fff , 155px 1540px #fff , 431px 1586px #fff , 784px 268px #fff , 473px 1211px #fff , 831px 1555px #fff , 320px 1916px #fff , 739px 1136px #fff , 912px 795px #fff , 491px 743px #fff , 274px 751px #fff , 1183px 653px #fff , 415px 1077px #fff , 1006px 1038px #fff , 1630px 1029px #fff , 1402px 1757px #fff , 1019px 1706px #fff , 1963px 1281px #fff , 1011px 1223px #fff , 1025px 807px #fff , 1587px 306px #fff , 888px 1409px #fff , 728px 750px #fff , 1699px 1545px #fff , 1617px 1993px #fff , 775px 1923px #fff , 1505px 228px #fff , 987px 1381px #fff , 1078px 1203px #fff , 1257px 197px #fff , 1769px 1909px #fff , 1804px 455px #fff , 132px 410px #fff , 767px 1579px #fff , 2000px 730px #fff , 668px 561px #fff , 1763px 832px #fff , 66px 719px #fff , 1652px 1232px #fff , 607px 80px #fff , 167px 786px #fff , 1337px 1972px #fff , 1924px 1901px #fff , 791px 1041px #fff , 789px 1550px #fff , 1522px 655px #fff , 1374px 546px #fff , 1503px 1801px #fff , 1705px 204px #fff , 870px 570px #fff , 361px 1812px #fff , 989px 698px #fff , 242px 1713px #fff , 1088px 8px #fff , 1269px 1654px #fff , 1203px 1368px #fff , 89px 1000px #fff , 228px 1324px #fff , 1296px 1838px #fff , 1151px 861px #fff , 1910px 1496px #fff , 171px 1139px #fff , 1409px 1150px #fff , 1973px 1406px #fff , 1123px 1858px #fff , 1782px 6px #fff , 1166px 1446px #fff , 52px 1251px #fff , 1215px 1835px #fff , 1716px 951px #fff , 1022px 1988px #fff , 1831px 1088px #fff , 750px 1270px #fff , 1532px 188px #fff , 432px 501px #fff , 527px 643px #fff , 904px 1973px #fff , 709px 1426px #fff , 121px 1256px #fff , 351px 470px #fff , 1566px 1218px #fff , 791px 289px #fff , 356px 736px #fff , 566px 180px #fff , 1188px 611px #fff , 1155px 750px #fff , 539px 1438px #fff , 999px 1593px #fff , 1045px 1002px #fff , 1367px 73px #fff , 1925px 1610px #fff , 937px 1665px #fff , 651px 90px #fff , 781px 1577px #fff , 557px 326px #fff , 854px 1506px #fff , 1951px 578px #fff , 1600px 1753px #fff , 1484px 76px #fff , 924px 801px #fff , 1876px 1291px #fff , 1018px 1678px #fff , 816px 1796px #fff , 1339px 373px #fff , 1174px 481px #fff;
          box-shadow: 1652px 991px #fff , 229px 616px #fff , 1740px 651px #fff , 1577px 742px #fff , 490px 378px #fff , 353px 1701px #fff , 1894px 887px #fff , 414px 1810px #fff , 1295px 1420px #fff , 1632px 1469px #fff , 598px 120px #fff , 775px 1729px #fff , 641px 881px #fff , 915px 922px #fff , 1054px 528px #fff , 661px 1149px #fff , 1964px 1052px #fff , 1321px 452px #fff , 197px 1183px #fff , 1007px 1590px #fff , 1105px 1933px #fff , 184px 1674px #fff , 850px 1570px #fff , 1576px 141px #fff , 1423px 1371px #fff , 1258px 1447px #fff , 950px 443px #fff , 1840px 1833px #fff , 829px 928px #fff , 1429px 487px #fff , 593px 110px #fff , 1500px 757px #fff , 1893px 1020px #fff , 757px 1432px #fff , 535px 215px #fff , 1330px 554px #fff , 229px 1378px #fff , 515px 886px #fff , 492px 1157px #fff , 1070px 348px #fff , 135px 890px #fff , 17px 1585px #fff , 667px 1589px #fff , 808px 652px #fff , 80px 1506px #fff , 1110px 257px #fff , 885px 1760px #fff , 301px 369px #fff , 1327px 32px #fff , 1568px 1198px #fff , 163px 158px #fff , 197px 216px #fff , 179px 1914px #fff , 1671px 1865px #fff , 288px 125px #fff , 1446px 884px #fff , 501px 1198px #fff , 958px 601px #fff , 925px 553px #fff , 564px 581px #fff , 1179px 44px #fff , 469px 1503px #fff , 266px 946px #fff , 305px 685px #fff , 1932px 1942px #fff , 1353px 31px #fff , 616px 1996px #fff , 1133px 1932px #fff , 1422px 1381px #fff , 1222px 1390px #fff , 1995px 1248px #fff , 494px 405px #fff , 1979px 242px #fff , 1121px 1978px #fff , 362px 331px #fff , 1974px 1274px #fff , 407px 887px #fff , 289px 469px #fff , 1365px 638px #fff , 1217px 307px #fff , 617px 821px #fff , 171px 330px #fff , 1060px 845px #fff , 1923px 316px #fff , 1110px 1621px #fff , 479px 1195px #fff , 1601px 1342px #fff , 1360px 1332px #fff , 634px 270px #fff , 860px 677px #fff , 376px 44px #fff , 60px 1272px #fff , 1493px 645px #fff , 827px 1127px #fff , 1200px 1337px #fff , 856px 1631px #fff , 817px 1372px #fff , 1792px 209px #fff , 295px 988px #fff , 1940px 136px #fff , 1600px 132px #fff , 198px 1769px #fff , 1829px 1496px #fff , 698px 390px #fff , 490px 342px #fff , 19px 1831px #fff , 615px 419px #fff , 1703px 97px #fff , 113px 562px #fff , 1932px 1536px #fff , 1534px 1676px #fff , 543px 1743px #fff , 119px 1587px #fff , 1693px 1346px #fff , 458px 1422px #fff , 1297px 405px #fff , 1287px 1097px #fff , 390px 877px #fff , 661px 363px #fff , 1589px 960px #fff , 1645px 76px #fff , 1122px 1317px #fff , 1295px 1522px #fff , 1882px 379px #fff , 1012px 1302px #fff , 377px 1226px #fff , 628px 63px #fff , 216px 1932px #fff , 1821px 105px #fff , 1685px 368px #fff , 721px 1088px #fff , 765px 1482px #fff , 38px 1745px #fff , 2000px 1147px #fff , 1287px 1941px #fff , 161px 368px #fff , 538px 1958px #fff , 435px 72px #fff , 1193px 965px #fff , 631px 1218px #fff , 334px 1782px #fff , 88px 575px #fff , 1494px 1512px #fff , 797px 1121px #fff , 925px 1828px #fff , 785px 1148px #fff , 370px 125px #fff , 1638px 73px #fff , 1012px 277px #fff , 1341px 444px #fff , 1257px 194px #fff , 1339px 1574px #fff , 351px 792px #fff , 176px 1540px #fff , 451px 1683px #fff , 1362px 1873px #fff , 580px 798px #fff , 1497px 298px #fff , 1668px 1235px #fff , 23px 762px #fff , 452px 1047px #fff , 1223px 940px #fff , 1294px 309px #fff , 205px 499px #fff , 900px 669px #fff , 952px 321px #fff , 1166px 1901px #fff , 1059px 243px #fff , 543px 1542px #fff , 995px 1269px #fff , 1709px 391px #fff , 1903px 1848px #fff , 865px 1159px #fff , 651px 188px #fff , 1582px 41px #fff , 1837px 635px #fff , 758px 1721px #fff , 1953px 1635px #fff , 914px 410px #fff , 1905px 24px #fff , 585px 1475px #fff , 1797px 841px #fff , 932px 644px #fff , 375px 1620px #fff , 608px 1682px #fff , 1242px 65px #fff , 537px 1127px #fff , 1686px 1494px #fff , 60px 1328px #fff , 770px 124px #fff , 1223px 1999px #fff , 1833px 1438px #fff , 7px 513px #fff , 40px 558px #fff , 1642px 328px #fff , 1276px 1596px #fff , 155px 1540px #fff , 431px 1586px #fff , 784px 268px #fff , 473px 1211px #fff , 831px 1555px #fff , 320px 1916px #fff , 739px 1136px #fff , 912px 795px #fff , 491px 743px #fff , 274px 751px #fff , 1183px 653px #fff , 415px 1077px #fff , 1006px 1038px #fff , 1630px 1029px #fff , 1402px 1757px #fff , 1019px 1706px #fff , 1963px 1281px #fff , 1011px 1223px #fff , 1025px 807px #fff , 1587px 306px #fff , 888px 1409px #fff , 728px 750px #fff , 1699px 1545px #fff , 1617px 1993px #fff , 775px 1923px #fff , 1505px 228px #fff , 987px 1381px #fff , 1078px 1203px #fff , 1257px 197px #fff , 1769px 1909px #fff , 1804px 455px #fff , 132px 410px #fff , 767px 1579px #fff , 2000px 730px #fff , 668px 561px #fff , 1763px 832px #fff , 66px 719px #fff , 1652px 1232px #fff , 607px 80px #fff , 167px 786px #fff , 1337px 1972px #fff , 1924px 1901px #fff , 791px 1041px #fff , 789px 1550px #fff , 1522px 655px #fff , 1374px 546px #fff , 1503px 1801px #fff , 1705px 204px #fff , 870px 570px #fff , 361px 1812px #fff , 989px 698px #fff , 242px 1713px #fff , 1088px 8px #fff , 1269px 1654px #fff , 1203px 1368px #fff , 89px 1000px #fff , 228px 1324px #fff , 1296px 1838px #fff , 1151px 861px #fff , 1910px 1496px #fff , 171px 1139px #fff , 1409px 1150px #fff , 1973px 1406px #fff , 1123px 1858px #fff , 1782px 6px #fff , 1166px 1446px #fff , 52px 1251px #fff , 1215px 1835px #fff , 1716px 951px #fff , 1022px 1988px #fff , 1831px 1088px #fff , 750px 1270px #fff , 1532px 188px #fff , 432px 501px #fff , 527px 643px #fff , 904px 1973px #fff , 709px 1426px #fff , 121px 1256px #fff , 351px 470px #fff , 1566px 1218px #fff , 791px 289px #fff , 356px 736px #fff , 566px 180px #fff , 1188px 611px #fff , 1155px 750px #fff , 539px 1438px #fff , 999px 1593px #fff , 1045px 1002px #fff , 1367px 73px #fff , 1925px 1610px #fff , 937px 1665px #fff , 651px 90px #fff , 781px 1577px #fff , 557px 326px #fff , 854px 1506px #fff , 1951px 578px #fff , 1600px 1753px #fff , 1484px 76px #fff , 924px 801px #fff , 1876px 1291px #fff , 1018px 1678px #fff , 816px 1796px #fff , 1339px 373px #fff , 1174px 481px #fff;
}

@-webkit-keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  .container {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
            transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
  }
  .link-one,
  .link-two,
  .link-three,
  .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .link-one {
    top: 60px;
    left: -30px;
  }
  .link-two {
    bottom: 50px;
    right: -30px;
  }
  .link-three {
    bottom: 60px;
    right: -30px;
  }
  .link-four {
    bottom: 40px;
    right: -50px;
  }
  .link-wrapper:hover .link-one,
  .link-wrapper:hover .link-two,
  .link-wrapper:hover .link-three,
  .link-wrapper:hover .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg) scale(1.3);
            transform: rotate(-90deg) scale(1.3);
  }
}

@media (min-width: 500px) and (max-width: 667px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .link-one {
    top: 30px;
    left: -30px;
  }
  .link-four {
    bottom: -10px;
    right: 30px;
  }
}

@media (min-width: 668px) and (max-width: 823px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

/* sections */
#aboutme {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */