/* variables */
/* general */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: #121519;
}

/* navigation */
nav {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bg {
  background: #121519;
  border-bottom: 1px solid #222831;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  color: #aab2bf;
  height: 100%;
  position: relative;
}

.navigation .title-left {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-size: 16px;
}

.navigation div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation div h1 {
  color: #fff;
  font-size: inherit;
  font-weight: normal;
}

.navigation div h1 span {
  color: #aab2bf;
}

.navigation a {
  text-decoration: none;
}

.nav-ul {
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  line-height: 50px;
}

.nav-ul li {
  display: inline;
  padding: 0 0 0 10px;
}

.nav-ul li a {
  color: #aab2bf;
  text-decoration: none;
}

.nav-ul li a:hover {
  color: #fff;
}

.nav-ul-show {
  display: block;
}

.navigation-mobile {
  display: none;
  height: 100%;
  background: #121519;
  border-bottom: 1px solid #222831;
}

.navigation-mobile .title {
  padding: 0 20px;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aab2bf;
}

.navigation-mobile .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 97%;
      -ms-flex: 97% 0;
          flex: 97% 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation-mobile .title div a {
  text-decoration: none;
}

.navigation-mobile .title div h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.navigation-mobile .title div h2 {
  color: #aab2bf;
  font-size: 12px;
  font-weight: normal;
}

.navigation-mobile .title i {
  width: 16px;
  -webkit-box-flex: 3%;
      -ms-flex: 3% 0;
          flex: 3% 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #aab2bf;
  cursor: pointer;
}

.navigation-mobile .title i:hover {
  color: #fff;
}

.dropdown {
  display: none;
  width: 100vw;
  background-color: #121519;
  line-height: 50px;
  padding: 20px 0;
}

.dropdown li {
  text-align: center;
  padding: 0 10px;
}

.dropdown li a {
  color: #aab2bf;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #fff;
}

.dropdown-show {
  display: block;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
}

/* header */
header {
  background: #121519;
  background: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#121519));
  background: linear-gradient(to bottom, #222831, #121519);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 280px;
  color: #aab2bf;
}

.part-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 120px;
  z-index: 3;
}

.part-two {
  position: absolute;
  top: 120px;
  left: 320px;
  width: 120px;
  height: 80px;
  z-index: 2;
}

.part-three {
  position: absolute;
  top: 200px;
  left: 440px;
  width: 40px;
  height: 80px;
  z-index: 1;
}

.star-one,
.star-two,
.star-three,
.star-four {
  position: absolute;
  border-radius: 50%;
  background: white;
}

.star-one {
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.star-two {
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
}

.star-three,
.star-four {
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}

.star-one::before,
.star-two::before,
.star-three::before,
.star-four::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #bdffff;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.star-two::before {
  width: 30px;
  height: 30px;
}

.link-one,
.link-two,
.link-three,
.link-four {
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.link-one {
  top: -7px;
  left: -100px;
}

.link-two {
  bottom: 0px;
  right: -90px;
}

.link-three {
  bottom: -20px;
  right: 30px;
}

.link-four {
  bottom: 0;
  right: -90px;
}

.link-wrapper {
  width: 100%;
  text-decoration: none;
  color: #aab2bf;
}

.link-wrapper:hover {
  cursor: pointer;
}

.link-wrapper:hover .star-one::before,
.link-wrapper:hover .star-three::before,
.link-wrapper:hover .star-four::before {
  width: 30px;
  height: 30px;
}

.link-wrapper:hover .star-two:before {
  width: 40px;
  height: 40px;
}

.link-wrapper:hover .link-one,
.link-wrapper:hover .link-two,
.link-wrapper:hover .link-three,
.link-wrapper:hover .link-four {
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.stars-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: starsAnimation 200s linear infinite;
          animation: starsAnimation 200s linear infinite;
}

.stars-one {
  opacity: .5;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 1778px 1776px #fff , 865px 171px #fff , 947px 198px #fff , 606px 1239px #fff , 947px 538px #fff , 1751px 1354px #fff , 87px 646px #fff , 529px 1826px #fff , 387px 907px #fff , 1936px 1665px #fff , 371px 940px #fff , 1356px 669px #fff , 1023px 10px #fff , 1664px 172px #fff , 174px 322px #fff , 25px 359px #fff , 1504px 115px #fff , 1706px 1229px #fff , 961px 867px #fff , 1900px 1004px #fff , 1708px 930px #fff , 606px 287px #fff , 446px 1554px #fff , 1105px 1559px #fff , 1820px 1888px #fff , 356px 1724px #fff , 825px 990px #fff , 1672px 1969px #fff , 1092px 173px #fff , 459px 708px #fff , 739px 373px #fff , 1154px 1891px #fff , 715px 1589px #fff , 485px 347px #fff , 506px 494px #fff , 268px 1774px #fff , 85px 1318px #fff , 978px 99px #fff , 1503px 100px #fff , 533px 1851px #fff , 1724px 476px #fff , 320px 715px #fff , 941px 276px #fff , 444px 1949px #fff , 1399px 274px #fff , 742px 1018px #fff , 879px 1649px #fff , 1282px 708px #fff , 1337px 1267px #fff , 1557px 1578px #fff , 1316px 97px #fff , 1183px 685px #fff , 251px 1282px #fff , 375px 331px #fff , 755px 1890px #fff , 1616px 715px #fff , 619px 472px #fff , 1718px 1901px #fff , 952px 538px #fff , 51px 777px #fff , 170px 1264px #fff , 954px 1219px #fff , 274px 56px #fff , 1499px 705px #fff , 259px 165px #fff , 1113px 51px #fff , 169px 1058px #fff , 1029px 792px #fff , 326px 1575px #fff , 635px 153px #fff , 1315px 1px #fff , 1662px 1503px #fff , 1060px 1653px #fff , 1695px 26px #fff , 940px 1295px #fff , 1092px 908px #fff , 1086px 1003px #fff , 1609px 1610px #fff , 1729px 128px #fff , 885px 512px #fff , 1859px 1828px #fff , 1092px 1351px #fff , 883px 1858px #fff , 415px 1954px #fff , 697px 984px #fff , 764px 249px #fff , 299px 661px #fff , 4px 1917px #fff , 1853px 1518px #fff , 1832px 492px #fff , 995px 566px #fff , 1633px 990px #fff , 386px 1362px #fff , 868px 813px #fff , 157px 1942px #fff , 890px 1977px #fff , 176px 718px #fff , 840px 359px #fff , 540px 802px #fff , 803px 1310px #fff;
          box-shadow: 1778px 1776px #fff , 865px 171px #fff , 947px 198px #fff , 606px 1239px #fff , 947px 538px #fff , 1751px 1354px #fff , 87px 646px #fff , 529px 1826px #fff , 387px 907px #fff , 1936px 1665px #fff , 371px 940px #fff , 1356px 669px #fff , 1023px 10px #fff , 1664px 172px #fff , 174px 322px #fff , 25px 359px #fff , 1504px 115px #fff , 1706px 1229px #fff , 961px 867px #fff , 1900px 1004px #fff , 1708px 930px #fff , 606px 287px #fff , 446px 1554px #fff , 1105px 1559px #fff , 1820px 1888px #fff , 356px 1724px #fff , 825px 990px #fff , 1672px 1969px #fff , 1092px 173px #fff , 459px 708px #fff , 739px 373px #fff , 1154px 1891px #fff , 715px 1589px #fff , 485px 347px #fff , 506px 494px #fff , 268px 1774px #fff , 85px 1318px #fff , 978px 99px #fff , 1503px 100px #fff , 533px 1851px #fff , 1724px 476px #fff , 320px 715px #fff , 941px 276px #fff , 444px 1949px #fff , 1399px 274px #fff , 742px 1018px #fff , 879px 1649px #fff , 1282px 708px #fff , 1337px 1267px #fff , 1557px 1578px #fff , 1316px 97px #fff , 1183px 685px #fff , 251px 1282px #fff , 375px 331px #fff , 755px 1890px #fff , 1616px 715px #fff , 619px 472px #fff , 1718px 1901px #fff , 952px 538px #fff , 51px 777px #fff , 170px 1264px #fff , 954px 1219px #fff , 274px 56px #fff , 1499px 705px #fff , 259px 165px #fff , 1113px 51px #fff , 169px 1058px #fff , 1029px 792px #fff , 326px 1575px #fff , 635px 153px #fff , 1315px 1px #fff , 1662px 1503px #fff , 1060px 1653px #fff , 1695px 26px #fff , 940px 1295px #fff , 1092px 908px #fff , 1086px 1003px #fff , 1609px 1610px #fff , 1729px 128px #fff , 885px 512px #fff , 1859px 1828px #fff , 1092px 1351px #fff , 883px 1858px #fff , 415px 1954px #fff , 697px 984px #fff , 764px 249px #fff , 299px 661px #fff , 4px 1917px #fff , 1853px 1518px #fff , 1832px 492px #fff , 995px 566px #fff , 1633px 990px #fff , 386px 1362px #fff , 868px 813px #fff , 157px 1942px #fff , 890px 1977px #fff , 176px 718px #fff , 840px 359px #fff , 540px 802px #fff , 803px 1310px #fff;
}

.stars-one::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 271px 1223px #fff , 1114px 1408px #fff , 1490px 902px #fff , 1507px 1949px #fff , 954px 535px #fff , 897px 1619px #fff , 1694px 1835px #fff , 928px 511px #fff , 98px 1074px #fff , 821px 822px #fff , 1830px 1365px #fff , 28px 48px #fff , 1956px 1545px #fff , 1149px 1822px #fff , 1407px 907px #fff , 623px 1538px #fff , 666px 1378px #fff , 1851px 342px #fff , 1819px 1178px #fff , 105px 985px #fff , 1000px 982px #fff , 864px 477px #fff , 959px 1669px #fff , 1270px 1760px #fff , 922px 1000px #fff , 373px 1843px #fff , 1320px 449px #fff , 57px 890px #fff , 1587px 1486px #fff , 1741px 1116px #fff , 716px 1046px #fff , 1394px 984px #fff , 1849px 596px #fff , 1457px 1215px #fff , 1655px 1223px #fff , 1810px 1123px #fff , 827px 571px #fff , 1876px 1143px #fff , 348px 1487px #fff , 837px 761px #fff , 1115px 1070px #fff , 1894px 1878px #fff , 489px 1233px #fff , 1352px 660px #fff , 287px 1748px #fff , 1831px 1553px #fff , 1096px 1615px #fff , 382px 220px #fff , 114px 1118px #fff , 199px 923px #fff , 465px 413px #fff , 1669px 459px #fff , 653px 710px #fff , 736px 1213px #fff , 61px 1786px #fff , 961px 1589px #fff , 393px 1761px #fff , 959px 469px #fff , 748px 1715px #fff , 1550px 119px #fff , 868px 1582px #fff , 1216px 1984px #fff , 211px 1054px #fff , 1010px 1500px #fff , 1061px 1392px #fff , 643px 1622px #fff , 390px 1354px #fff , 554px 1304px #fff , 109px 764px #fff , 173px 697px #fff , 648px 1668px #fff , 672px 1736px #fff , 1136px 1380px #fff , 1667px 1007px #fff , 910px 742px #fff , 810px 896px #fff , 1337px 1806px #fff , 1986px 1902px #fff , 1898px 362px #fff , 1853px 1657px #fff , 1395px 1017px #fff , 26px 1114px #fff , 349px 1309px #fff , 957px 1872px #fff , 1528px 1686px #fff , 1067px 95px #fff , 1811px 685px #fff , 149px 1223px #fff , 1942px 726px #fff , 757px 872px #fff , 40px 1966px #fff , 1433px 292px #fff , 733px 262px #fff , 10px 655px #fff , 580px 1000px #fff , 1078px 1847px #fff , 1167px 671px #fff , 1840px 1937px #fff , 768px 35px #fff , 1541px 719px #fff;
          box-shadow: 271px 1223px #fff , 1114px 1408px #fff , 1490px 902px #fff , 1507px 1949px #fff , 954px 535px #fff , 897px 1619px #fff , 1694px 1835px #fff , 928px 511px #fff , 98px 1074px #fff , 821px 822px #fff , 1830px 1365px #fff , 28px 48px #fff , 1956px 1545px #fff , 1149px 1822px #fff , 1407px 907px #fff , 623px 1538px #fff , 666px 1378px #fff , 1851px 342px #fff , 1819px 1178px #fff , 105px 985px #fff , 1000px 982px #fff , 864px 477px #fff , 959px 1669px #fff , 1270px 1760px #fff , 922px 1000px #fff , 373px 1843px #fff , 1320px 449px #fff , 57px 890px #fff , 1587px 1486px #fff , 1741px 1116px #fff , 716px 1046px #fff , 1394px 984px #fff , 1849px 596px #fff , 1457px 1215px #fff , 1655px 1223px #fff , 1810px 1123px #fff , 827px 571px #fff , 1876px 1143px #fff , 348px 1487px #fff , 837px 761px #fff , 1115px 1070px #fff , 1894px 1878px #fff , 489px 1233px #fff , 1352px 660px #fff , 287px 1748px #fff , 1831px 1553px #fff , 1096px 1615px #fff , 382px 220px #fff , 114px 1118px #fff , 199px 923px #fff , 465px 413px #fff , 1669px 459px #fff , 653px 710px #fff , 736px 1213px #fff , 61px 1786px #fff , 961px 1589px #fff , 393px 1761px #fff , 959px 469px #fff , 748px 1715px #fff , 1550px 119px #fff , 868px 1582px #fff , 1216px 1984px #fff , 211px 1054px #fff , 1010px 1500px #fff , 1061px 1392px #fff , 643px 1622px #fff , 390px 1354px #fff , 554px 1304px #fff , 109px 764px #fff , 173px 697px #fff , 648px 1668px #fff , 672px 1736px #fff , 1136px 1380px #fff , 1667px 1007px #fff , 910px 742px #fff , 810px 896px #fff , 1337px 1806px #fff , 1986px 1902px #fff , 1898px 362px #fff , 1853px 1657px #fff , 1395px 1017px #fff , 26px 1114px #fff , 349px 1309px #fff , 957px 1872px #fff , 1528px 1686px #fff , 1067px 95px #fff , 1811px 685px #fff , 149px 1223px #fff , 1942px 726px #fff , 757px 872px #fff , 40px 1966px #fff , 1433px 292px #fff , 733px 262px #fff , 10px 655px #fff , 580px 1000px #fff , 1078px 1847px #fff , 1167px 671px #fff , 1840px 1937px #fff , 768px 35px #fff , 1541px 719px #fff;
}

.stars-two {
  opacity: .5;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 649px 1152px #fff , 1448px 1184px #fff , 1793px 1136px #fff , 710px 1274px #fff , 1699px 588px #fff , 1982px 939px #fff , 1233px 1543px #fff , 1695px 1566px #fff , 530px 890px #fff , 727px 1653px #fff , 1020px 138px #fff , 437px 1037px #fff , 660px 477px #fff , 908px 1118px #fff , 745px 235px #fff , 492px 779px #fff , 146px 817px #fff , 1460px 423px #fff , 1907px 1372px #fff , 320px 1796px #fff , 1511px 27px #fff , 1475px 303px #fff , 763px 1400px #fff , 943px 789px #fff , 1403px 1953px #fff , 1814px 1223px #fff , 76px 1260px #fff , 691px 188px #fff , 461px 1520px #fff , 659px 676px #fff , 1616px 435px #fff , 162px 1476px #fff , 580px 1121px #fff , 236px 46px #fff , 1050px 655px #fff , 1171px 911px #fff , 752px 1057px #fff , 1940px 995px #fff , 1313px 73px #fff , 109px 19px #fff , 1609px 1007px #fff , 629px 401px #fff , 1176px 1282px #fff , 1386px 29px #fff , 422px 686px #fff , 234px 860px #fff , 928px 1680px #fff , 1329px 308px #fff , 1541px 1890px #fff , 1328px 1417px #fff , 679px 1135px #fff , 1238px 141px #fff , 457px 1797px #fff , 295px 330px #fff , 996px 836px #fff , 1559px 395px #fff , 246px 691px #fff , 1453px 1685px #fff , 1003px 143px #fff , 1778px 574px #fff , 1286px 24px #fff , 587px 1753px #fff , 1908px 1806px #fff , 1819px 5px #fff , 879px 1400px #fff , 1570px 649px #fff , 278px 1674px #fff , 470px 1203px #fff , 1569px 585px #fff , 1479px 618px #fff , 1781px 1794px #fff , 1866px 1357px #fff , 1529px 683px #fff , 1005px 460px #fff , 285px 763px #fff , 792px 1271px #fff , 981px 488px #fff , 1470px 1546px #fff , 293px 169px #fff , 355px 1429px #fff , 696px 805px #fff , 1013px 1904px #fff , 1077px 846px #fff , 558px 1310px #fff , 1505px 710px #fff , 486px 1534px #fff , 1177px 1853px #fff , 1424px 1029px #fff , 1455px 845px #fff , 842px 483px #fff , 955px 1541px #fff , 1497px 293px #fff , 1047px 23px #fff , 877px 563px #fff , 1645px 1860px #fff , 1525px 1965px #fff , 442px 1199px #fff , 13px 1540px #fff , 187px 165px #fff , 452px 1734px #fff , 1349px 1890px #fff , 1039px 104px #fff , 888px 827px #fff , 407px 882px #fff , 965px 423px #fff , 1140px 318px #fff , 650px 204px #fff , 1707px 680px #fff , 1580px 1595px #fff , 349px 96px #fff , 1864px 1216px #fff , 1772px 1588px #fff , 284px 1851px #fff , 1898px 1163px #fff , 1987px 19px #fff , 1125px 1402px #fff , 1115px 482px #fff , 1307px 1806px #fff , 1929px 1788px #fff , 83px 634px #fff , 639px 727px #fff , 968px 801px #fff , 1377px 1009px #fff , 1122px 337px #fff , 910px 716px #fff , 1742px 336px #fff , 648px 1033px #fff , 907px 1970px #fff , 1669px 1275px #fff , 1233px 1369px #fff , 265px 485px #fff , 1654px 1308px #fff , 1470px 1396px #fff , 451px 238px #fff , 414px 1873px #fff , 455px 202px #fff , 710px 322px #fff , 1659px 756px #fff , 607px 1046px #fff , 997px 525px #fff , 593px 293px #fff , 1967px 1416px #fff , 1039px 1591px #fff , 1221px 1361px #fff , 693px 277px #fff , 396px 372px #fff , 1745px 933px #fff , 1491px 556px #fff , 1957px 1797px #fff , 66px 636px #fff , 364px 961px #fff , 255px 1140px #fff , 1635px 96px #fff , 180px 73px #fff , 1511px 1125px #fff , 1732px 53px #fff , 1910px 1309px #fff , 1507px 1694px #fff , 1097px 1703px #fff , 270px 821px #fff , 1880px 1949px #fff , 684px 1471px #fff , 1721px 1561px #fff , 1700px 458px #fff , 1356px 1149px #fff , 453px 1467px #fff , 1157px 924px #fff , 331px 1841px #fff , 463px 1439px #fff , 1282px 1067px #fff , 835px 1794px #fff , 1256px 976px #fff , 271px 96px #fff , 1667px 1310px #fff , 861px 1290px #fff , 1294px 1858px #fff , 1774px 1467px #fff , 1581px 421px #fff , 1590px 467px #fff , 477px 1965px #fff , 1544px 1690px #fff , 205px 693px #fff , 1562px 1229px #fff , 1150px 14px #fff , 929px 1577px #fff , 1380px 315px #fff , 832px 1729px #fff , 408px 1945px #fff , 676px 889px #fff , 1658px 1511px #fff , 1190px 161px #fff , 1587px 220px #fff , 1696px 8px #fff , 687px 1528px #fff , 1666px 312px #fff , 1619px 132px #fff , 1276px 1841px #fff , 1243px 1223px #fff , 1615px 1146px #fff , 1977px 892px #fff , 1680px 111px #fff , 1868px 1974px #fff , 303px 587px #fff , 1874px 1870px #fff , 1407px 1065px #fff , 839px 1499px #fff , 209px 1702px #fff , 779px 205px #fff , 320px 397px #fff , 853px 612px #fff , 1835px 888px #fff , 705px 50px #fff , 1566px 640px #fff , 641px 1977px #fff , 430px 889px #fff , 731px 1177px #fff , 306px 1511px #fff , 869px 1363px #fff , 1549px 1867px #fff , 1236px 490px #fff , 1438px 13px #fff , 201px 718px #fff , 80px 1499px #fff , 1405px 948px #fff , 1144px 1631px #fff , 1512px 687px #fff , 197px 1612px #fff , 1098px 1877px #fff , 403px 577px #fff , 1806px 1357px #fff , 565px 838px #fff , 1128px 1571px #fff , 925px 858px #fff , 37px 1627px #fff , 640px 1654px #fff , 917px 669px #fff , 1559px 662px #fff , 508px 791px #fff , 326px 981px #fff , 868px 995px #fff , 1622px 1985px #fff , 836px 54px #fff , 88px 1607px #fff , 1878px 1353px #fff , 1571px 1427px #fff , 80px 229px #fff , 988px 1450px #fff , 1341px 963px #fff , 179px 1220px #fff , 1550px 1370px #fff , 1025px 331px #fff , 1857px 1726px #fff , 194px 1173px #fff , 922px 969px #fff , 83px 396px #fff , 1591px 1843px #fff , 799px 484px #fff , 1723px 654px #fff , 1571px 1129px #fff , 261px 1403px #fff , 835px 1679px #fff , 1800px 439px #fff , 1548px 550px #fff , 626px 1802px #fff , 604px 1330px #fff , 1941px 305px #fff , 515px 1967px #fff , 1113px 1770px #fff , 1146px 1657px #fff , 550px 186px #fff , 1829px 131px #fff , 1321px 1972px #fff , 527px 84px #fff , 1px 1171px #fff , 365px 37px #fff , 699px 1409px #fff , 1964px 15px #fff , 1212px 1226px #fff , 1173px 1757px #fff , 509px 38px #fff , 1166px 993px #fff , 1821px 1019px #fff , 1572px 1081px #fff , 697px 765px #fff , 938px 1242px #fff , 210px 678px #fff , 777px 1100px #fff , 1734px 112px #fff , 1726px 398px #fff , 1045px 1620px #fff , 685px 255px #fff , 720px 902px #fff , 1154px 1087px #fff , 1571px 494px #fff , 1188px 803px #fff , 471px 834px #fff , 1983px 1517px #fff , 1208px 427px #fff , 1903px 1083px #fff , 377px 305px #fff;
          box-shadow: 649px 1152px #fff , 1448px 1184px #fff , 1793px 1136px #fff , 710px 1274px #fff , 1699px 588px #fff , 1982px 939px #fff , 1233px 1543px #fff , 1695px 1566px #fff , 530px 890px #fff , 727px 1653px #fff , 1020px 138px #fff , 437px 1037px #fff , 660px 477px #fff , 908px 1118px #fff , 745px 235px #fff , 492px 779px #fff , 146px 817px #fff , 1460px 423px #fff , 1907px 1372px #fff , 320px 1796px #fff , 1511px 27px #fff , 1475px 303px #fff , 763px 1400px #fff , 943px 789px #fff , 1403px 1953px #fff , 1814px 1223px #fff , 76px 1260px #fff , 691px 188px #fff , 461px 1520px #fff , 659px 676px #fff , 1616px 435px #fff , 162px 1476px #fff , 580px 1121px #fff , 236px 46px #fff , 1050px 655px #fff , 1171px 911px #fff , 752px 1057px #fff , 1940px 995px #fff , 1313px 73px #fff , 109px 19px #fff , 1609px 1007px #fff , 629px 401px #fff , 1176px 1282px #fff , 1386px 29px #fff , 422px 686px #fff , 234px 860px #fff , 928px 1680px #fff , 1329px 308px #fff , 1541px 1890px #fff , 1328px 1417px #fff , 679px 1135px #fff , 1238px 141px #fff , 457px 1797px #fff , 295px 330px #fff , 996px 836px #fff , 1559px 395px #fff , 246px 691px #fff , 1453px 1685px #fff , 1003px 143px #fff , 1778px 574px #fff , 1286px 24px #fff , 587px 1753px #fff , 1908px 1806px #fff , 1819px 5px #fff , 879px 1400px #fff , 1570px 649px #fff , 278px 1674px #fff , 470px 1203px #fff , 1569px 585px #fff , 1479px 618px #fff , 1781px 1794px #fff , 1866px 1357px #fff , 1529px 683px #fff , 1005px 460px #fff , 285px 763px #fff , 792px 1271px #fff , 981px 488px #fff , 1470px 1546px #fff , 293px 169px #fff , 355px 1429px #fff , 696px 805px #fff , 1013px 1904px #fff , 1077px 846px #fff , 558px 1310px #fff , 1505px 710px #fff , 486px 1534px #fff , 1177px 1853px #fff , 1424px 1029px #fff , 1455px 845px #fff , 842px 483px #fff , 955px 1541px #fff , 1497px 293px #fff , 1047px 23px #fff , 877px 563px #fff , 1645px 1860px #fff , 1525px 1965px #fff , 442px 1199px #fff , 13px 1540px #fff , 187px 165px #fff , 452px 1734px #fff , 1349px 1890px #fff , 1039px 104px #fff , 888px 827px #fff , 407px 882px #fff , 965px 423px #fff , 1140px 318px #fff , 650px 204px #fff , 1707px 680px #fff , 1580px 1595px #fff , 349px 96px #fff , 1864px 1216px #fff , 1772px 1588px #fff , 284px 1851px #fff , 1898px 1163px #fff , 1987px 19px #fff , 1125px 1402px #fff , 1115px 482px #fff , 1307px 1806px #fff , 1929px 1788px #fff , 83px 634px #fff , 639px 727px #fff , 968px 801px #fff , 1377px 1009px #fff , 1122px 337px #fff , 910px 716px #fff , 1742px 336px #fff , 648px 1033px #fff , 907px 1970px #fff , 1669px 1275px #fff , 1233px 1369px #fff , 265px 485px #fff , 1654px 1308px #fff , 1470px 1396px #fff , 451px 238px #fff , 414px 1873px #fff , 455px 202px #fff , 710px 322px #fff , 1659px 756px #fff , 607px 1046px #fff , 997px 525px #fff , 593px 293px #fff , 1967px 1416px #fff , 1039px 1591px #fff , 1221px 1361px #fff , 693px 277px #fff , 396px 372px #fff , 1745px 933px #fff , 1491px 556px #fff , 1957px 1797px #fff , 66px 636px #fff , 364px 961px #fff , 255px 1140px #fff , 1635px 96px #fff , 180px 73px #fff , 1511px 1125px #fff , 1732px 53px #fff , 1910px 1309px #fff , 1507px 1694px #fff , 1097px 1703px #fff , 270px 821px #fff , 1880px 1949px #fff , 684px 1471px #fff , 1721px 1561px #fff , 1700px 458px #fff , 1356px 1149px #fff , 453px 1467px #fff , 1157px 924px #fff , 331px 1841px #fff , 463px 1439px #fff , 1282px 1067px #fff , 835px 1794px #fff , 1256px 976px #fff , 271px 96px #fff , 1667px 1310px #fff , 861px 1290px #fff , 1294px 1858px #fff , 1774px 1467px #fff , 1581px 421px #fff , 1590px 467px #fff , 477px 1965px #fff , 1544px 1690px #fff , 205px 693px #fff , 1562px 1229px #fff , 1150px 14px #fff , 929px 1577px #fff , 1380px 315px #fff , 832px 1729px #fff , 408px 1945px #fff , 676px 889px #fff , 1658px 1511px #fff , 1190px 161px #fff , 1587px 220px #fff , 1696px 8px #fff , 687px 1528px #fff , 1666px 312px #fff , 1619px 132px #fff , 1276px 1841px #fff , 1243px 1223px #fff , 1615px 1146px #fff , 1977px 892px #fff , 1680px 111px #fff , 1868px 1974px #fff , 303px 587px #fff , 1874px 1870px #fff , 1407px 1065px #fff , 839px 1499px #fff , 209px 1702px #fff , 779px 205px #fff , 320px 397px #fff , 853px 612px #fff , 1835px 888px #fff , 705px 50px #fff , 1566px 640px #fff , 641px 1977px #fff , 430px 889px #fff , 731px 1177px #fff , 306px 1511px #fff , 869px 1363px #fff , 1549px 1867px #fff , 1236px 490px #fff , 1438px 13px #fff , 201px 718px #fff , 80px 1499px #fff , 1405px 948px #fff , 1144px 1631px #fff , 1512px 687px #fff , 197px 1612px #fff , 1098px 1877px #fff , 403px 577px #fff , 1806px 1357px #fff , 565px 838px #fff , 1128px 1571px #fff , 925px 858px #fff , 37px 1627px #fff , 640px 1654px #fff , 917px 669px #fff , 1559px 662px #fff , 508px 791px #fff , 326px 981px #fff , 868px 995px #fff , 1622px 1985px #fff , 836px 54px #fff , 88px 1607px #fff , 1878px 1353px #fff , 1571px 1427px #fff , 80px 229px #fff , 988px 1450px #fff , 1341px 963px #fff , 179px 1220px #fff , 1550px 1370px #fff , 1025px 331px #fff , 1857px 1726px #fff , 194px 1173px #fff , 922px 969px #fff , 83px 396px #fff , 1591px 1843px #fff , 799px 484px #fff , 1723px 654px #fff , 1571px 1129px #fff , 261px 1403px #fff , 835px 1679px #fff , 1800px 439px #fff , 1548px 550px #fff , 626px 1802px #fff , 604px 1330px #fff , 1941px 305px #fff , 515px 1967px #fff , 1113px 1770px #fff , 1146px 1657px #fff , 550px 186px #fff , 1829px 131px #fff , 1321px 1972px #fff , 527px 84px #fff , 1px 1171px #fff , 365px 37px #fff , 699px 1409px #fff , 1964px 15px #fff , 1212px 1226px #fff , 1173px 1757px #fff , 509px 38px #fff , 1166px 993px #fff , 1821px 1019px #fff , 1572px 1081px #fff , 697px 765px #fff , 938px 1242px #fff , 210px 678px #fff , 777px 1100px #fff , 1734px 112px #fff , 1726px 398px #fff , 1045px 1620px #fff , 685px 255px #fff , 720px 902px #fff , 1154px 1087px #fff , 1571px 494px #fff , 1188px 803px #fff , 471px 834px #fff , 1983px 1517px #fff , 1208px 427px #fff , 1903px 1083px #fff , 377px 305px #fff;
}

.stars-two::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 997px 1699px #fff , 1877px 1812px #fff , 1600px 1658px #fff , 950px 1287px #fff , 1721px 596px #fff , 1193px 105px #fff , 1230px 958px #fff , 1669px 1854px #fff , 250px 44px #fff , 54px 104px #fff , 1958px 1145px #fff , 959px 938px #fff , 960px 843px #fff , 1219px 770px #fff , 605px 1085px #fff , 66px 1017px #fff , 997px 1836px #fff , 987px 1692px #fff , 205px 1245px #fff , 813px 334px #fff , 196px 875px #fff , 1244px 279px #fff , 991px 318px #fff , 615px 1710px #fff , 990px 713px #fff , 854px 1023px #fff , 1877px 727px #fff , 369px 1899px #fff , 1991px 1254px #fff , 490px 282px #fff , 844px 390px #fff , 1815px 1402px #fff , 1711px 1747px #fff , 681px 1391px #fff , 1695px 1538px #fff , 882px 462px #fff , 1844px 325px #fff , 1040px 1154px #fff , 532px 649px #fff , 1662px 1056px #fff , 1569px 602px #fff , 1503px 63px #fff , 1088px 27px #fff , 644px 874px #fff , 1266px 1077px #fff , 1546px 252px #fff , 903px 1243px #fff , 323px 1459px #fff , 1534px 360px #fff , 817px 883px #fff , 1121px 70px #fff , 530px 931px #fff , 348px 199px #fff , 1707px 1535px #fff , 735px 905px #fff , 564px 1272px #fff , 891px 476px #fff , 873px 425px #fff , 985px 1769px #fff , 210px 1599px #fff , 900px 1626px #fff , 1680px 123px #fff , 1972px 1913px #fff , 1711px 618px #fff , 1452px 417px #fff , 714px 1688px #fff , 1459px 482px #fff , 1447px 1875px #fff , 190px 817px #fff , 300px 24px #fff , 229px 772px #fff , 1895px 607px #fff , 1887px 158px #fff , 1832px 1414px #fff , 757px 428px #fff , 1007px 81px #fff , 227px 549px #fff , 772px 1864px #fff , 1835px 574px #fff , 1144px 398px #fff , 1933px 1703px #fff , 1917px 835px #fff , 81px 1305px #fff , 612px 900px #fff , 148px 834px #fff , 1380px 350px #fff , 1346px 433px #fff , 635px 1119px #fff , 1945px 76px #fff , 1526px 320px #fff , 980px 358px #fff , 1272px 174px #fff , 132px 665px #fff , 1728px 1123px #fff , 141px 1895px #fff , 1366px 1571px #fff , 421px 1330px #fff , 1921px 539px #fff , 1198px 1014px #fff , 915px 1101px #fff , 675px 1663px #fff , 36px 1225px #fff , 1947px 570px #fff , 893px 1911px #fff , 1504px 680px #fff , 872px 1254px #fff , 1837px 1269px #fff , 181px 1864px #fff , 103px 928px #fff , 1263px 880px #fff , 897px 1415px #fff , 1201px 1268px #fff , 405px 1297px #fff , 1130px 621px #fff , 767px 1966px #fff , 1627px 490px #fff , 1623px 693px #fff , 784px 1836px #fff , 1357px 1518px #fff , 459px 794px #fff , 1907px 159px #fff , 1214px 449px #fff , 2000px 1415px #fff , 1369px 703px #fff , 728px 1263px #fff , 1559px 691px #fff , 1282px 616px #fff , 1250px 1563px #fff , 1950px 1841px #fff , 1131px 515px #fff , 141px 135px #fff , 1952px 990px #fff , 324px 1917px #fff , 1582px 954px #fff , 392px 1168px #fff , 1200px 1757px #fff , 845px 1779px #fff , 188px 357px #fff , 640px 680px #fff , 5px 127px #fff , 662px 1897px #fff , 1941px 1824px #fff , 1064px 317px #fff , 814px 1656px #fff , 633px 1672px #fff , 845px 478px #fff , 1544px 782px #fff , 1769px 1001px #fff , 1774px 1828px #fff , 232px 931px #fff , 1221px 223px #fff , 860px 942px #fff , 1269px 1293px #fff , 1138px 1770px #fff , 90px 929px #fff , 250px 941px #fff , 1577px 1133px #fff , 921px 727px #fff , 1917px 1519px #fff , 1894px 1992px #fff , 473px 1081px #fff , 1660px 529px #fff , 1874px 1076px #fff , 913px 737px #fff , 1515px 1609px #fff , 962px 454px #fff , 937px 1577px #fff , 1957px 981px #fff , 1498px 147px #fff , 738px 1994px #fff , 1655px 1647px #fff , 1952px 388px #fff , 1383px 402px #fff , 1517px 1579px #fff , 236px 1839px #fff , 268px 382px #fff , 431px 467px #fff , 150px 1843px #fff , 1615px 55px #fff , 1152px 1694px #fff , 1596px 739px #fff , 439px 1305px #fff , 253px 615px #fff , 1716px 1260px #fff , 671px 600px #fff , 1930px 1175px #fff , 1655px 514px #fff , 399px 1680px #fff , 1577px 1699px #fff , 863px 648px #fff , 623px 49px #fff , 20px 425px #fff , 228px 1249px #fff , 227px 68px #fff , 1178px 1051px #fff , 1160px 1849px #fff , 258px 553px #fff , 211px 1966px #fff , 732px 1273px #fff , 1372px 274px #fff , 1906px 914px #fff , 446px 1119px #fff , 716px 350px #fff , 1808px 664px #fff , 124px 38px #fff , 1109px 320px #fff , 392px 270px #fff , 1960px 1754px #fff , 231px 157px #fff , 134px 1075px #fff , 742px 436px #fff , 1073px 1620px #fff , 793px 1319px #fff , 763px 1973px #fff , 1397px 640px #fff , 1349px 1952px #fff , 781px 1123px #fff , 669px 1135px #fff , 822px 1141px #fff , 1889px 730px #fff , 988px 576px #fff , 249px 104px #fff , 1285px 316px #fff , 760px 223px #fff , 1088px 1593px #fff , 491px 485px #fff , 1157px 1590px #fff , 1009px 337px #fff , 446px 253px #fff , 725px 1746px #fff , 1419px 237px #fff , 247px 1831px #fff , 379px 982px #fff , 1802px 148px #fff , 1169px 116px #fff , 10px 1144px #fff , 689px 457px #fff , 152px 1244px #fff , 1765px 581px #fff , 536px 1940px #fff , 1442px 1231px #fff , 882px 277px #fff , 1729px 199px #fff , 1486px 1091px #fff , 290px 715px #fff , 1981px 723px #fff , 989px 895px #fff , 1521px 1173px #fff , 392px 429px #fff , 958px 984px #fff , 1047px 1613px #fff , 1572px 870px #fff , 537px 613px #fff , 1058px 1101px #fff , 389px 1497px #fff , 700px 1774px #fff , 613px 1835px #fff , 965px 1076px #fff , 632px 1816px #fff , 1265px 1846px #fff , 1328px 947px #fff , 708px 347px #fff , 746px 1914px #fff , 554px 719px #fff , 1896px 1874px #fff , 1084px 1506px #fff , 1482px 1126px #fff , 752px 1331px #fff , 601px 1645px #fff , 1614px 772px #fff , 869px 1742px #fff , 106px 103px #fff , 1117px 423px #fff , 1985px 1370px #fff , 1372px 279px #fff , 387px 1311px #fff , 1231px 416px #fff , 1551px 1417px #fff , 777px 43px #fff , 510px 1461px #fff , 1099px 690px #fff , 477px 1104px #fff , 1907px 1956px #fff , 500px 1300px #fff , 564px 595px #fff , 503px 1766px #fff , 397px 1282px #fff , 360px 875px #fff , 1651px 1568px #fff , 1519px 1269px #fff , 960px 1348px #fff , 1753px 1193px #fff , 306px 1427px #fff , 1328px 1711px #fff , 1356px 1587px #fff , 831px 525px #fff , 1738px 316px #fff , 461px 365px #fff , 248px 717px #fff , 389px 1253px #fff;
          box-shadow: 997px 1699px #fff , 1877px 1812px #fff , 1600px 1658px #fff , 950px 1287px #fff , 1721px 596px #fff , 1193px 105px #fff , 1230px 958px #fff , 1669px 1854px #fff , 250px 44px #fff , 54px 104px #fff , 1958px 1145px #fff , 959px 938px #fff , 960px 843px #fff , 1219px 770px #fff , 605px 1085px #fff , 66px 1017px #fff , 997px 1836px #fff , 987px 1692px #fff , 205px 1245px #fff , 813px 334px #fff , 196px 875px #fff , 1244px 279px #fff , 991px 318px #fff , 615px 1710px #fff , 990px 713px #fff , 854px 1023px #fff , 1877px 727px #fff , 369px 1899px #fff , 1991px 1254px #fff , 490px 282px #fff , 844px 390px #fff , 1815px 1402px #fff , 1711px 1747px #fff , 681px 1391px #fff , 1695px 1538px #fff , 882px 462px #fff , 1844px 325px #fff , 1040px 1154px #fff , 532px 649px #fff , 1662px 1056px #fff , 1569px 602px #fff , 1503px 63px #fff , 1088px 27px #fff , 644px 874px #fff , 1266px 1077px #fff , 1546px 252px #fff , 903px 1243px #fff , 323px 1459px #fff , 1534px 360px #fff , 817px 883px #fff , 1121px 70px #fff , 530px 931px #fff , 348px 199px #fff , 1707px 1535px #fff , 735px 905px #fff , 564px 1272px #fff , 891px 476px #fff , 873px 425px #fff , 985px 1769px #fff , 210px 1599px #fff , 900px 1626px #fff , 1680px 123px #fff , 1972px 1913px #fff , 1711px 618px #fff , 1452px 417px #fff , 714px 1688px #fff , 1459px 482px #fff , 1447px 1875px #fff , 190px 817px #fff , 300px 24px #fff , 229px 772px #fff , 1895px 607px #fff , 1887px 158px #fff , 1832px 1414px #fff , 757px 428px #fff , 1007px 81px #fff , 227px 549px #fff , 772px 1864px #fff , 1835px 574px #fff , 1144px 398px #fff , 1933px 1703px #fff , 1917px 835px #fff , 81px 1305px #fff , 612px 900px #fff , 148px 834px #fff , 1380px 350px #fff , 1346px 433px #fff , 635px 1119px #fff , 1945px 76px #fff , 1526px 320px #fff , 980px 358px #fff , 1272px 174px #fff , 132px 665px #fff , 1728px 1123px #fff , 141px 1895px #fff , 1366px 1571px #fff , 421px 1330px #fff , 1921px 539px #fff , 1198px 1014px #fff , 915px 1101px #fff , 675px 1663px #fff , 36px 1225px #fff , 1947px 570px #fff , 893px 1911px #fff , 1504px 680px #fff , 872px 1254px #fff , 1837px 1269px #fff , 181px 1864px #fff , 103px 928px #fff , 1263px 880px #fff , 897px 1415px #fff , 1201px 1268px #fff , 405px 1297px #fff , 1130px 621px #fff , 767px 1966px #fff , 1627px 490px #fff , 1623px 693px #fff , 784px 1836px #fff , 1357px 1518px #fff , 459px 794px #fff , 1907px 159px #fff , 1214px 449px #fff , 2000px 1415px #fff , 1369px 703px #fff , 728px 1263px #fff , 1559px 691px #fff , 1282px 616px #fff , 1250px 1563px #fff , 1950px 1841px #fff , 1131px 515px #fff , 141px 135px #fff , 1952px 990px #fff , 324px 1917px #fff , 1582px 954px #fff , 392px 1168px #fff , 1200px 1757px #fff , 845px 1779px #fff , 188px 357px #fff , 640px 680px #fff , 5px 127px #fff , 662px 1897px #fff , 1941px 1824px #fff , 1064px 317px #fff , 814px 1656px #fff , 633px 1672px #fff , 845px 478px #fff , 1544px 782px #fff , 1769px 1001px #fff , 1774px 1828px #fff , 232px 931px #fff , 1221px 223px #fff , 860px 942px #fff , 1269px 1293px #fff , 1138px 1770px #fff , 90px 929px #fff , 250px 941px #fff , 1577px 1133px #fff , 921px 727px #fff , 1917px 1519px #fff , 1894px 1992px #fff , 473px 1081px #fff , 1660px 529px #fff , 1874px 1076px #fff , 913px 737px #fff , 1515px 1609px #fff , 962px 454px #fff , 937px 1577px #fff , 1957px 981px #fff , 1498px 147px #fff , 738px 1994px #fff , 1655px 1647px #fff , 1952px 388px #fff , 1383px 402px #fff , 1517px 1579px #fff , 236px 1839px #fff , 268px 382px #fff , 431px 467px #fff , 150px 1843px #fff , 1615px 55px #fff , 1152px 1694px #fff , 1596px 739px #fff , 439px 1305px #fff , 253px 615px #fff , 1716px 1260px #fff , 671px 600px #fff , 1930px 1175px #fff , 1655px 514px #fff , 399px 1680px #fff , 1577px 1699px #fff , 863px 648px #fff , 623px 49px #fff , 20px 425px #fff , 228px 1249px #fff , 227px 68px #fff , 1178px 1051px #fff , 1160px 1849px #fff , 258px 553px #fff , 211px 1966px #fff , 732px 1273px #fff , 1372px 274px #fff , 1906px 914px #fff , 446px 1119px #fff , 716px 350px #fff , 1808px 664px #fff , 124px 38px #fff , 1109px 320px #fff , 392px 270px #fff , 1960px 1754px #fff , 231px 157px #fff , 134px 1075px #fff , 742px 436px #fff , 1073px 1620px #fff , 793px 1319px #fff , 763px 1973px #fff , 1397px 640px #fff , 1349px 1952px #fff , 781px 1123px #fff , 669px 1135px #fff , 822px 1141px #fff , 1889px 730px #fff , 988px 576px #fff , 249px 104px #fff , 1285px 316px #fff , 760px 223px #fff , 1088px 1593px #fff , 491px 485px #fff , 1157px 1590px #fff , 1009px 337px #fff , 446px 253px #fff , 725px 1746px #fff , 1419px 237px #fff , 247px 1831px #fff , 379px 982px #fff , 1802px 148px #fff , 1169px 116px #fff , 10px 1144px #fff , 689px 457px #fff , 152px 1244px #fff , 1765px 581px #fff , 536px 1940px #fff , 1442px 1231px #fff , 882px 277px #fff , 1729px 199px #fff , 1486px 1091px #fff , 290px 715px #fff , 1981px 723px #fff , 989px 895px #fff , 1521px 1173px #fff , 392px 429px #fff , 958px 984px #fff , 1047px 1613px #fff , 1572px 870px #fff , 537px 613px #fff , 1058px 1101px #fff , 389px 1497px #fff , 700px 1774px #fff , 613px 1835px #fff , 965px 1076px #fff , 632px 1816px #fff , 1265px 1846px #fff , 1328px 947px #fff , 708px 347px #fff , 746px 1914px #fff , 554px 719px #fff , 1896px 1874px #fff , 1084px 1506px #fff , 1482px 1126px #fff , 752px 1331px #fff , 601px 1645px #fff , 1614px 772px #fff , 869px 1742px #fff , 106px 103px #fff , 1117px 423px #fff , 1985px 1370px #fff , 1372px 279px #fff , 387px 1311px #fff , 1231px 416px #fff , 1551px 1417px #fff , 777px 43px #fff , 510px 1461px #fff , 1099px 690px #fff , 477px 1104px #fff , 1907px 1956px #fff , 500px 1300px #fff , 564px 595px #fff , 503px 1766px #fff , 397px 1282px #fff , 360px 875px #fff , 1651px 1568px #fff , 1519px 1269px #fff , 960px 1348px #fff , 1753px 1193px #fff , 306px 1427px #fff , 1328px 1711px #fff , 1356px 1587px #fff , 831px 525px #fff , 1738px 316px #fff , 461px 365px #fff , 248px 717px #fff , 389px 1253px #fff;
}

@-webkit-keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  .container {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
            transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
  }
  .link-one,
  .link-two,
  .link-three,
  .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .link-one {
    top: 60px;
    left: -30px;
  }
  .link-two {
    bottom: 50px;
    right: -30px;
  }
  .link-three {
    bottom: 60px;
    right: -30px;
  }
  .link-four {
    bottom: 40px;
    right: -50px;
  }
  .link-wrapper:hover .link-one,
  .link-wrapper:hover .link-two,
  .link-wrapper:hover .link-three,
  .link-wrapper:hover .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg) scale(1.3);
            transform: rotate(-90deg) scale(1.3);
  }
}

@media (min-width: 500px) and (max-width: 667px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .link-one {
    top: 30px;
    left: -30px;
  }
  .link-four {
    bottom: -10px;
    right: 30px;
  }
}

@media (min-width: 668px) and (max-width: 823px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

/* sections */
.section-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  color: #aab2bf;
  font-size: 18px;
}

.section-wrapper h2 {
  padding: 10px 0;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.aboutme p {
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  padding: 30px;
  line-height: 22px;
}

.skills-title {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 30px 0;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  position: relative;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 16.66%;
      -ms-flex: 16.66% 0;
          flex: 16.66% 0;
}

.skills-box i {
  font-size: 80px;
  padding: 10px 0;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 45%;
      -ms-flex: 45% 0;
          flex: 45% 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  text-align: center;
  padding: 30px 0 0 0;
}

.projects-box p {
  padding: 10px 0;
}

.projects-box p:first-of-type {
  color: #fff;
}

.projects-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects-image img {
  width: 100%;
  height: 100%;
}

.projects-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121519;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-image:hover:after {
  opacity: 0.8;
}

.projects-image:hover .projects-links {
  opacity: 1;
}

.projects-links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.projects-links a {
  text-decoration: none;
  background: #222831;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects-links a:hover {
  background: #fff;
  color: #222831;
}

.contact-wrapper {
  padding: 30px 0;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
}

.contact-wrapper a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #aab2bf;
}

.contact-wrapper a:hover {
  color: #fff;
}

.contact-wrapper a i {
  margin: 0 10px 0 0;
}

/* footer */
footer {
  width: 100%;
  padding: 20px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */