/* variables */
/* general */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: #121519;
}

/* navigation */
nav {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bg {
  background: #121519;
  border-bottom: 1px solid #222831;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  color: #aab2bf;
  height: 100%;
  position: relative;
}

.navigation .title-left {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-size: 16px;
}

.navigation div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation div h1 {
  color: #fff;
  font-size: inherit;
  font-weight: normal;
}

.navigation div h1 span {
  color: #aab2bf;
}

.navigation a {
  text-decoration: none;
}

.nav-ul {
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  line-height: 50px;
}

.nav-ul li {
  display: inline;
  padding: 0 0 0 10px;
}

.nav-ul li a {
  color: #aab2bf;
  text-decoration: none;
}

.nav-ul li a:hover {
  color: #fff;
}

.nav-ul-show {
  display: block;
}

.navigation-mobile {
  display: none;
  height: 100%;
  background: #121519;
  border-bottom: 1px solid #222831;
}

.navigation-mobile .title {
  padding: 0 20px;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aab2bf;
}

.navigation-mobile .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 97%;
      -ms-flex: 97% 0;
          flex: 97% 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation-mobile .title div a {
  text-decoration: none;
}

.navigation-mobile .title div h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.navigation-mobile .title div h2 {
  color: #aab2bf;
  font-size: 12px;
  font-weight: normal;
}

.navigation-mobile .title i {
  width: 16px;
  -webkit-box-flex: 3%;
      -ms-flex: 3% 0;
          flex: 3% 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #aab2bf;
  cursor: pointer;
}

.navigation-mobile .title i:hover {
  color: #fff;
}

.dropdown {
  display: none;
  width: 100vw;
  background-color: #121519;
  line-height: 50px;
  padding: 20px 0;
}

.dropdown li {
  text-align: center;
  padding: 0 10px;
}

.dropdown li a {
  color: #aab2bf;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #fff;
}

.dropdown-show {
  display: block;
}

@media (max-width: 1115px) {
  .navigation {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
}

/* header */
header {
  background: #121519;
  background: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#121519));
  background: linear-gradient(to bottom, #222831, #121519);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 280px;
  color: #aab2bf;
}

.part-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 120px;
  z-index: 3;
}

.part-two {
  position: absolute;
  top: 120px;
  left: 320px;
  width: 120px;
  height: 80px;
  z-index: 2;
}

.part-three {
  position: absolute;
  top: 200px;
  left: 440px;
  width: 40px;
  height: 80px;
  z-index: 1;
}

.star-one,
.star-two,
.star-three,
.star-four {
  position: absolute;
  border-radius: 50%;
  background: white;
}

.star-one {
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.star-two {
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
}

.star-three,
.star-four {
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}

.star-one::before,
.star-two::before,
.star-three::before,
.star-four::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #bdffff;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.star-two::before {
  width: 30px;
  height: 30px;
}

.link-one,
.link-two,
.link-three,
.link-four {
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.link-one {
  top: -7px;
  left: -100px;
}

.link-two {
  bottom: 0px;
  right: -90px;
}

.link-three {
  bottom: -20px;
  right: 30px;
}

.link-four {
  bottom: 0;
  right: -90px;
}

.link-wrapper {
  width: 100%;
  text-decoration: none;
  color: #aab2bf;
}

.link-wrapper:hover {
  cursor: pointer;
}

.link-wrapper:hover .star-one::before,
.link-wrapper:hover .star-three::before,
.link-wrapper:hover .star-four::before {
  width: 30px;
  height: 30px;
}

.link-wrapper:hover .star-two:before {
  width: 40px;
  height: 40px;
}

.link-wrapper:hover .link-one,
.link-wrapper:hover .link-two,
.link-wrapper:hover .link-three,
.link-wrapper:hover .link-four {
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.stars-wrapper {
  position: relative;
  display: block;
  width: 2000px;
  height: 2000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stars-animated {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: starsAnimation 200s linear infinite;
          animation: starsAnimation 200s linear infinite;
}

.stars-one {
  opacity: .5;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 150px 1254px #fff , 1889px 1513px #fff , 1382px 1776px #fff , 1488px 806px #fff , 1821px 1397px #fff , 816px 768px #fff , 817px 1140px #fff , 1937px 1994px #fff , 156px 698px #fff , 1498px 1693px #fff , 424px 1808px #fff , 885px 1004px #fff , 1972px 779px #fff , 1036px 1397px #fff , 281px 897px #fff , 474px 794px #fff , 1407px 1634px #fff , 1760px 228px #fff , 1278px 1369px #fff , 1454px 1804px #fff , 1363px 44px #fff , 1362px 1860px #fff , 1519px 602px #fff , 44px 1177px #fff , 345px 1745px #fff , 1973px 579px #fff , 1122px 1963px #fff , 238px 406px #fff , 1415px 1563px #fff , 1880px 1607px #fff , 239px 134px #fff , 668px 1117px #fff , 549px 1475px #fff , 1306px 258px #fff , 88px 888px #fff , 1254px 733px #fff , 207px 567px #fff , 848px 1466px #fff , 609px 416px #fff , 1517px 1821px #fff , 824px 724px #fff , 1944px 134px #fff , 1925px 1913px #fff , 513px 1543px #fff , 229px 865px #fff , 1017px 1329px #fff , 1650px 316px #fff , 832px 521px #fff , 1926px 1747px #fff , 1659px 1218px #fff , 1871px 1330px #fff , 492px 1097px #fff , 982px 1164px #fff , 132px 1843px #fff , 791px 102px #fff , 61px 122px #fff , 1973px 1909px #fff , 938px 714px #fff , 75px 46px #fff , 1953px 973px #fff , 1199px 287px #fff , 1968px 1925px #fff , 1023px 414px #fff , 595px 772px #fff , 700px 1171px #fff , 490px 1970px #fff , 1834px 193px #fff , 1700px 1943px #fff , 862px 1185px #fff , 1838px 1963px #fff , 483px 858px #fff , 1874px 968px #fff , 1758px 1812px #fff , 1145px 701px #fff , 1304px 1502px #fff , 1831px 969px #fff , 1168px 906px #fff , 1201px 1602px #fff , 1867px 434px #fff , 239px 281px #fff , 500px 722px #fff , 1397px 1203px #fff , 336px 4px #fff , 1025px 1883px #fff , 891px 715px #fff , 644px 640px #fff , 942px 185px #fff , 1261px 736px #fff , 1510px 818px #fff , 1741px 1788px #fff , 1846px 1690px #fff , 1709px 875px #fff , 1079px 1425px #fff , 219px 1508px #fff , 1798px 1838px #fff , 1039px 1867px #fff , 637px 346px #fff , 269px 862px #fff , 1629px 602px #fff , 941px 953px #fff;
          box-shadow: 150px 1254px #fff , 1889px 1513px #fff , 1382px 1776px #fff , 1488px 806px #fff , 1821px 1397px #fff , 816px 768px #fff , 817px 1140px #fff , 1937px 1994px #fff , 156px 698px #fff , 1498px 1693px #fff , 424px 1808px #fff , 885px 1004px #fff , 1972px 779px #fff , 1036px 1397px #fff , 281px 897px #fff , 474px 794px #fff , 1407px 1634px #fff , 1760px 228px #fff , 1278px 1369px #fff , 1454px 1804px #fff , 1363px 44px #fff , 1362px 1860px #fff , 1519px 602px #fff , 44px 1177px #fff , 345px 1745px #fff , 1973px 579px #fff , 1122px 1963px #fff , 238px 406px #fff , 1415px 1563px #fff , 1880px 1607px #fff , 239px 134px #fff , 668px 1117px #fff , 549px 1475px #fff , 1306px 258px #fff , 88px 888px #fff , 1254px 733px #fff , 207px 567px #fff , 848px 1466px #fff , 609px 416px #fff , 1517px 1821px #fff , 824px 724px #fff , 1944px 134px #fff , 1925px 1913px #fff , 513px 1543px #fff , 229px 865px #fff , 1017px 1329px #fff , 1650px 316px #fff , 832px 521px #fff , 1926px 1747px #fff , 1659px 1218px #fff , 1871px 1330px #fff , 492px 1097px #fff , 982px 1164px #fff , 132px 1843px #fff , 791px 102px #fff , 61px 122px #fff , 1973px 1909px #fff , 938px 714px #fff , 75px 46px #fff , 1953px 973px #fff , 1199px 287px #fff , 1968px 1925px #fff , 1023px 414px #fff , 595px 772px #fff , 700px 1171px #fff , 490px 1970px #fff , 1834px 193px #fff , 1700px 1943px #fff , 862px 1185px #fff , 1838px 1963px #fff , 483px 858px #fff , 1874px 968px #fff , 1758px 1812px #fff , 1145px 701px #fff , 1304px 1502px #fff , 1831px 969px #fff , 1168px 906px #fff , 1201px 1602px #fff , 1867px 434px #fff , 239px 281px #fff , 500px 722px #fff , 1397px 1203px #fff , 336px 4px #fff , 1025px 1883px #fff , 891px 715px #fff , 644px 640px #fff , 942px 185px #fff , 1261px 736px #fff , 1510px 818px #fff , 1741px 1788px #fff , 1846px 1690px #fff , 1709px 875px #fff , 1079px 1425px #fff , 219px 1508px #fff , 1798px 1838px #fff , 1039px 1867px #fff , 637px 346px #fff , 269px 862px #fff , 1629px 602px #fff , 941px 953px #fff;
}

.stars-one::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 832px 731px #fff , 1789px 1856px #fff , 1954px 631px #fff , 433px 1292px #fff , 865px 1947px #fff , 1949px 1399px #fff , 1803px 533px #fff , 43px 452px #fff , 134px 83px #fff , 253px 1815px #fff , 1040px 642px #fff , 988px 1592px #fff , 1462px 1505px #fff , 1473px 208px #fff , 1862px 1574px #fff , 1594px 212px #fff , 18px 1646px #fff , 1865px 29px #fff , 1781px 932px #fff , 702px 1232px #fff , 1732px 1900px #fff , 1159px 769px #fff , 12px 1255px #fff , 1902px 1692px #fff , 1028px 2000px #fff , 1683px 760px #fff , 1970px 337px #fff , 76px 262px #fff , 271px 1999px #fff , 1921px 926px #fff , 1924px 61px #fff , 1098px 803px #fff , 1498px 1922px #fff , 105px 853px #fff , 1295px 86px #fff , 1117px 1122px #fff , 1500px 1740px #fff , 1607px 734px #fff , 1748px 1842px #fff , 732px 221px #fff , 1232px 1755px #fff , 362px 1995px #fff , 890px 1292px #fff , 1382px 783px #fff , 1217px 1365px #fff , 1930px 1944px #fff , 405px 1069px #fff , 1605px 1718px #fff , 426px 17px #fff , 1625px 992px #fff , 1790px 1969px #fff , 85px 1275px #fff , 1650px 856px #fff , 1368px 1492px #fff , 385px 607px #fff , 398px 1233px #fff , 1375px 1677px #fff , 1395px 594px #fff , 1852px 861px #fff , 1964px 1117px #fff , 500px 1283px #fff , 1803px 220px #fff , 415px 905px #fff , 1651px 341px #fff , 1834px 789px #fff , 1234px 1003px #fff , 1990px 825px #fff , 208px 1271px #fff , 925px 228px #fff , 1665px 887px #fff , 1207px 629px #fff , 1331px 390px #fff , 1378px 270px #fff , 794px 1891px #fff , 48px 882px #fff , 269px 34px #fff , 57px 325px #fff , 1617px 1962px #fff , 672px 596px #fff , 1120px 936px #fff , 264px 1345px #fff , 50px 482px #fff , 1030px 41px #fff , 839px 1266px #fff , 892px 561px #fff , 333px 744px #fff , 503px 561px #fff , 36px 19px #fff , 1226px 482px #fff , 686px 839px #fff , 111px 350px #fff , 978px 1447px #fff , 693px 1472px #fff , 1243px 1086px #fff , 1427px 654px #fff , 182px 744px #fff , 1545px 1799px #fff , 168px 859px #fff , 555px 910px #fff , 1569px 729px #fff;
          box-shadow: 832px 731px #fff , 1789px 1856px #fff , 1954px 631px #fff , 433px 1292px #fff , 865px 1947px #fff , 1949px 1399px #fff , 1803px 533px #fff , 43px 452px #fff , 134px 83px #fff , 253px 1815px #fff , 1040px 642px #fff , 988px 1592px #fff , 1462px 1505px #fff , 1473px 208px #fff , 1862px 1574px #fff , 1594px 212px #fff , 18px 1646px #fff , 1865px 29px #fff , 1781px 932px #fff , 702px 1232px #fff , 1732px 1900px #fff , 1159px 769px #fff , 12px 1255px #fff , 1902px 1692px #fff , 1028px 2000px #fff , 1683px 760px #fff , 1970px 337px #fff , 76px 262px #fff , 271px 1999px #fff , 1921px 926px #fff , 1924px 61px #fff , 1098px 803px #fff , 1498px 1922px #fff , 105px 853px #fff , 1295px 86px #fff , 1117px 1122px #fff , 1500px 1740px #fff , 1607px 734px #fff , 1748px 1842px #fff , 732px 221px #fff , 1232px 1755px #fff , 362px 1995px #fff , 890px 1292px #fff , 1382px 783px #fff , 1217px 1365px #fff , 1930px 1944px #fff , 405px 1069px #fff , 1605px 1718px #fff , 426px 17px #fff , 1625px 992px #fff , 1790px 1969px #fff , 85px 1275px #fff , 1650px 856px #fff , 1368px 1492px #fff , 385px 607px #fff , 398px 1233px #fff , 1375px 1677px #fff , 1395px 594px #fff , 1852px 861px #fff , 1964px 1117px #fff , 500px 1283px #fff , 1803px 220px #fff , 415px 905px #fff , 1651px 341px #fff , 1834px 789px #fff , 1234px 1003px #fff , 1990px 825px #fff , 208px 1271px #fff , 925px 228px #fff , 1665px 887px #fff , 1207px 629px #fff , 1331px 390px #fff , 1378px 270px #fff , 794px 1891px #fff , 48px 882px #fff , 269px 34px #fff , 57px 325px #fff , 1617px 1962px #fff , 672px 596px #fff , 1120px 936px #fff , 264px 1345px #fff , 50px 482px #fff , 1030px 41px #fff , 839px 1266px #fff , 892px 561px #fff , 333px 744px #fff , 503px 561px #fff , 36px 19px #fff , 1226px 482px #fff , 686px 839px #fff , 111px 350px #fff , 978px 1447px #fff , 693px 1472px #fff , 1243px 1086px #fff , 1427px 654px #fff , 182px 744px #fff , 1545px 1799px #fff , 168px 859px #fff , 555px 910px #fff , 1569px 729px #fff;
}

.stars-two {
  opacity: .5;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 1125px 1334px #fff , 1055px 425px #fff , 1644px 332px #fff , 577px 1842px #fff , 1417px 358px #fff , 1763px 1615px #fff , 1076px 1162px #fff , 1055px 294px #fff , 813px 1318px #fff , 2000px 1698px #fff , 682px 230px #fff , 531px 1029px #fff , 1403px 1079px #fff , 1151px 999px #fff , 606px 1089px #fff , 106px 1317px #fff , 1519px 1879px #fff , 558px 141px #fff , 1684px 1564px #fff , 332px 385px #fff , 1590px 32px #fff , 1996px 946px #fff , 1159px 1705px #fff , 1636px 1879px #fff , 487px 1011px #fff , 227px 1916px #fff , 722px 1622px #fff , 694px 1406px #fff , 937px 385px #fff , 180px 1483px #fff , 816px 1408px #fff , 1451px 453px #fff , 1184px 1175px #fff , 529px 1482px #fff , 271px 933px #fff , 1109px 1245px #fff , 118px 1558px #fff , 1417px 980px #fff , 512px 995px #fff , 1989px 685px #fff , 1613px 614px #fff , 1093px 360px #fff , 797px 741px #fff , 1656px 345px #fff , 302px 1072px #fff , 275px 298px #fff , 531px 709px #fff , 525px 1405px #fff , 1557px 604px #fff , 57px 779px #fff , 1007px 5px #fff , 1585px 771px #fff , 784px 1729px #fff , 1133px 47px #fff , 653px 762px #fff , 778px 487px #fff , 921px 703px #fff , 662px 424px #fff , 949px 588px #fff , 1776px 1842px #fff , 1795px 839px #fff , 1131px 1740px #fff , 1941px 399px #fff , 910px 1186px #fff , 835px 610px #fff , 1062px 1787px #fff , 1039px 461px #fff , 674px 494px #fff , 266px 1474px #fff , 518px 945px #fff , 1461px 283px #fff , 1561px 576px #fff , 1420px 1309px #fff , 771px 235px #fff , 809px 1226px #fff , 435px 970px #fff , 1037px 1004px #fff , 698px 39px #fff , 870px 843px #fff , 13px 128px #fff , 52px 396px #fff , 249px 276px #fff , 247px 320px #fff , 1136px 98px #fff , 1125px 146px #fff , 710px 172px #fff , 333px 71px #fff , 1552px 192px #fff , 349px 1381px #fff , 1225px 1035px #fff , 592px 746px #fff , 553px 735px #fff , 887px 108px #fff , 1554px 470px #fff , 1916px 812px #fff , 461px 738px #fff , 786px 222px #fff , 441px 1321px #fff , 1969px 1513px #fff , 1558px 1825px #fff , 1810px 1863px #fff , 1763px 1213px #fff , 482px 705px #fff , 304px 105px #fff , 910px 485px #fff , 430px 844px #fff , 1791px 1458px #fff , 1367px 1530px #fff , 1006px 311px #fff , 789px 765px #fff , 972px 1120px #fff , 1931px 1751px #fff , 130px 1876px #fff , 1400px 1039px #fff , 139px 830px #fff , 1848px 1394px #fff , 1778px 1477px #fff , 765px 1049px #fff , 641px 399px #fff , 836px 686px #fff , 113px 1703px #fff , 211px 1225px #fff , 51px 693px #fff , 1918px 1387px #fff , 1291px 1936px #fff , 1020px 806px #fff , 1444px 702px #fff , 1974px 80px #fff , 813px 1726px #fff , 908px 52px #fff , 527px 1169px #fff , 167px 937px #fff , 1596px 1256px #fff , 405px 1556px #fff , 1930px 1875px #fff , 1426px 895px #fff , 1920px 1595px #fff , 421px 1366px #fff , 128px 1762px #fff , 1118px 1671px #fff , 1270px 46px #fff , 193px 1889px #fff , 119px 1851px #fff , 1515px 1692px #fff , 1513px 453px #fff , 422px 1245px #fff , 1019px 1820px #fff , 1894px 1262px #fff , 1428px 1893px #fff , 500px 1755px #fff , 1450px 977px #fff , 990px 1401px #fff , 1413px 1892px #fff , 810px 1711px #fff , 81px 864px #fff , 106px 94px #fff , 248px 747px #fff , 181px 285px #fff , 348px 1029px #fff , 1234px 1034px #fff , 29px 1739px #fff , 55px 989px #fff , 233px 96px #fff , 1054px 1563px #fff , 1632px 971px #fff , 1155px 1722px #fff , 712px 647px #fff , 1759px 966px #fff , 187px 1302px #fff , 146px 638px #fff , 512px 1401px #fff , 843px 58px #fff , 118px 1024px #fff , 1514px 524px #fff , 588px 621px #fff , 8px 587px #fff , 1551px 518px #fff , 904px 647px #fff , 855px 826px #fff , 1638px 1188px #fff , 348px 45px #fff , 937px 1574px #fff , 1567px 1155px #fff , 1239px 367px #fff , 1257px 554px #fff , 143px 701px #fff , 1411px 1727px #fff , 152px 42px #fff , 895px 1560px #fff , 824px 1898px #fff , 159px 1936px #fff , 524px 921px #fff , 927px 897px #fff , 1534px 395px #fff , 662px 330px #fff , 1324px 311px #fff , 1428px 966px #fff , 852px 484px #fff , 1485px 1979px #fff , 439px 1620px #fff , 622px 86px #fff , 309px 128px #fff , 1586px 460px #fff , 23px 1918px #fff , 1644px 1397px #fff , 1101px 48px #fff , 837px 720px #fff , 1624px 131px #fff , 1746px 910px #fff , 337px 1866px #fff , 506px 1022px #fff , 924px 221px #fff , 253px 96px #fff , 320px 582px #fff , 965px 1691px #fff , 647px 1873px #fff , 1790px 1488px #fff , 273px 273px #fff , 1891px 404px #fff , 372px 803px #fff , 304px 1440px #fff , 1442px 1094px #fff , 1592px 761px #fff , 349px 1921px #fff , 679px 1600px #fff , 1326px 1797px #fff , 568px 1074px #fff , 1350px 1818px #fff , 62px 253px #fff , 1465px 664px #fff , 403px 1888px #fff , 877px 166px #fff , 1476px 548px #fff , 1989px 214px #fff , 1583px 1746px #fff , 1799px 123px #fff , 1723px 1960px #fff , 216px 993px #fff , 1448px 1963px #fff , 1871px 663px #fff , 270px 1346px #fff , 1825px 1288px #fff , 1963px 1577px #fff , 422px 1421px #fff , 815px 151px #fff , 964px 896px #fff , 1058px 1494px #fff , 340px 1570px #fff , 957px 1662px #fff , 882px 1329px #fff , 349px 351px #fff , 1200px 691px #fff , 1094px 1684px #fff , 885px 449px #fff , 1329px 971px #fff , 1661px 1338px #fff , 1265px 1816px #fff , 566px 393px #fff , 1347px 1499px #fff , 1558px 1598px #fff , 1901px 3px #fff , 833px 1798px #fff , 899px 1604px #fff , 1133px 631px #fff , 1105px 573px #fff , 985px 1666px #fff , 922px 1253px #fff , 909px 16px #fff , 519px 1704px #fff , 275px 485px #fff , 104px 436px #fff , 514px 1076px #fff , 1152px 1595px #fff , 1475px 1177px #fff , 1596px 31px #fff , 872px 287px #fff , 53px 1023px #fff , 1178px 732px #fff , 1695px 1749px #fff , 624px 1594px #fff , 952px 1665px #fff , 936px 1784px #fff , 1293px 1796px #fff , 391px 314px #fff , 1781px 693px #fff , 1255px 984px #fff , 1886px 1782px #fff , 811px 1687px #fff , 1818px 1615px #fff , 1868px 1075px #fff , 635px 314px #fff , 486px 38px #fff , 786px 103px #fff , 1354px 1465px #fff , 1156px 1183px #fff , 853px 191px #fff , 1673px 1277px #fff , 590px 1055px #fff , 343px 187px #fff , 327px 1308px #fff;
          box-shadow: 1125px 1334px #fff , 1055px 425px #fff , 1644px 332px #fff , 577px 1842px #fff , 1417px 358px #fff , 1763px 1615px #fff , 1076px 1162px #fff , 1055px 294px #fff , 813px 1318px #fff , 2000px 1698px #fff , 682px 230px #fff , 531px 1029px #fff , 1403px 1079px #fff , 1151px 999px #fff , 606px 1089px #fff , 106px 1317px #fff , 1519px 1879px #fff , 558px 141px #fff , 1684px 1564px #fff , 332px 385px #fff , 1590px 32px #fff , 1996px 946px #fff , 1159px 1705px #fff , 1636px 1879px #fff , 487px 1011px #fff , 227px 1916px #fff , 722px 1622px #fff , 694px 1406px #fff , 937px 385px #fff , 180px 1483px #fff , 816px 1408px #fff , 1451px 453px #fff , 1184px 1175px #fff , 529px 1482px #fff , 271px 933px #fff , 1109px 1245px #fff , 118px 1558px #fff , 1417px 980px #fff , 512px 995px #fff , 1989px 685px #fff , 1613px 614px #fff , 1093px 360px #fff , 797px 741px #fff , 1656px 345px #fff , 302px 1072px #fff , 275px 298px #fff , 531px 709px #fff , 525px 1405px #fff , 1557px 604px #fff , 57px 779px #fff , 1007px 5px #fff , 1585px 771px #fff , 784px 1729px #fff , 1133px 47px #fff , 653px 762px #fff , 778px 487px #fff , 921px 703px #fff , 662px 424px #fff , 949px 588px #fff , 1776px 1842px #fff , 1795px 839px #fff , 1131px 1740px #fff , 1941px 399px #fff , 910px 1186px #fff , 835px 610px #fff , 1062px 1787px #fff , 1039px 461px #fff , 674px 494px #fff , 266px 1474px #fff , 518px 945px #fff , 1461px 283px #fff , 1561px 576px #fff , 1420px 1309px #fff , 771px 235px #fff , 809px 1226px #fff , 435px 970px #fff , 1037px 1004px #fff , 698px 39px #fff , 870px 843px #fff , 13px 128px #fff , 52px 396px #fff , 249px 276px #fff , 247px 320px #fff , 1136px 98px #fff , 1125px 146px #fff , 710px 172px #fff , 333px 71px #fff , 1552px 192px #fff , 349px 1381px #fff , 1225px 1035px #fff , 592px 746px #fff , 553px 735px #fff , 887px 108px #fff , 1554px 470px #fff , 1916px 812px #fff , 461px 738px #fff , 786px 222px #fff , 441px 1321px #fff , 1969px 1513px #fff , 1558px 1825px #fff , 1810px 1863px #fff , 1763px 1213px #fff , 482px 705px #fff , 304px 105px #fff , 910px 485px #fff , 430px 844px #fff , 1791px 1458px #fff , 1367px 1530px #fff , 1006px 311px #fff , 789px 765px #fff , 972px 1120px #fff , 1931px 1751px #fff , 130px 1876px #fff , 1400px 1039px #fff , 139px 830px #fff , 1848px 1394px #fff , 1778px 1477px #fff , 765px 1049px #fff , 641px 399px #fff , 836px 686px #fff , 113px 1703px #fff , 211px 1225px #fff , 51px 693px #fff , 1918px 1387px #fff , 1291px 1936px #fff , 1020px 806px #fff , 1444px 702px #fff , 1974px 80px #fff , 813px 1726px #fff , 908px 52px #fff , 527px 1169px #fff , 167px 937px #fff , 1596px 1256px #fff , 405px 1556px #fff , 1930px 1875px #fff , 1426px 895px #fff , 1920px 1595px #fff , 421px 1366px #fff , 128px 1762px #fff , 1118px 1671px #fff , 1270px 46px #fff , 193px 1889px #fff , 119px 1851px #fff , 1515px 1692px #fff , 1513px 453px #fff , 422px 1245px #fff , 1019px 1820px #fff , 1894px 1262px #fff , 1428px 1893px #fff , 500px 1755px #fff , 1450px 977px #fff , 990px 1401px #fff , 1413px 1892px #fff , 810px 1711px #fff , 81px 864px #fff , 106px 94px #fff , 248px 747px #fff , 181px 285px #fff , 348px 1029px #fff , 1234px 1034px #fff , 29px 1739px #fff , 55px 989px #fff , 233px 96px #fff , 1054px 1563px #fff , 1632px 971px #fff , 1155px 1722px #fff , 712px 647px #fff , 1759px 966px #fff , 187px 1302px #fff , 146px 638px #fff , 512px 1401px #fff , 843px 58px #fff , 118px 1024px #fff , 1514px 524px #fff , 588px 621px #fff , 8px 587px #fff , 1551px 518px #fff , 904px 647px #fff , 855px 826px #fff , 1638px 1188px #fff , 348px 45px #fff , 937px 1574px #fff , 1567px 1155px #fff , 1239px 367px #fff , 1257px 554px #fff , 143px 701px #fff , 1411px 1727px #fff , 152px 42px #fff , 895px 1560px #fff , 824px 1898px #fff , 159px 1936px #fff , 524px 921px #fff , 927px 897px #fff , 1534px 395px #fff , 662px 330px #fff , 1324px 311px #fff , 1428px 966px #fff , 852px 484px #fff , 1485px 1979px #fff , 439px 1620px #fff , 622px 86px #fff , 309px 128px #fff , 1586px 460px #fff , 23px 1918px #fff , 1644px 1397px #fff , 1101px 48px #fff , 837px 720px #fff , 1624px 131px #fff , 1746px 910px #fff , 337px 1866px #fff , 506px 1022px #fff , 924px 221px #fff , 253px 96px #fff , 320px 582px #fff , 965px 1691px #fff , 647px 1873px #fff , 1790px 1488px #fff , 273px 273px #fff , 1891px 404px #fff , 372px 803px #fff , 304px 1440px #fff , 1442px 1094px #fff , 1592px 761px #fff , 349px 1921px #fff , 679px 1600px #fff , 1326px 1797px #fff , 568px 1074px #fff , 1350px 1818px #fff , 62px 253px #fff , 1465px 664px #fff , 403px 1888px #fff , 877px 166px #fff , 1476px 548px #fff , 1989px 214px #fff , 1583px 1746px #fff , 1799px 123px #fff , 1723px 1960px #fff , 216px 993px #fff , 1448px 1963px #fff , 1871px 663px #fff , 270px 1346px #fff , 1825px 1288px #fff , 1963px 1577px #fff , 422px 1421px #fff , 815px 151px #fff , 964px 896px #fff , 1058px 1494px #fff , 340px 1570px #fff , 957px 1662px #fff , 882px 1329px #fff , 349px 351px #fff , 1200px 691px #fff , 1094px 1684px #fff , 885px 449px #fff , 1329px 971px #fff , 1661px 1338px #fff , 1265px 1816px #fff , 566px 393px #fff , 1347px 1499px #fff , 1558px 1598px #fff , 1901px 3px #fff , 833px 1798px #fff , 899px 1604px #fff , 1133px 631px #fff , 1105px 573px #fff , 985px 1666px #fff , 922px 1253px #fff , 909px 16px #fff , 519px 1704px #fff , 275px 485px #fff , 104px 436px #fff , 514px 1076px #fff , 1152px 1595px #fff , 1475px 1177px #fff , 1596px 31px #fff , 872px 287px #fff , 53px 1023px #fff , 1178px 732px #fff , 1695px 1749px #fff , 624px 1594px #fff , 952px 1665px #fff , 936px 1784px #fff , 1293px 1796px #fff , 391px 314px #fff , 1781px 693px #fff , 1255px 984px #fff , 1886px 1782px #fff , 811px 1687px #fff , 1818px 1615px #fff , 1868px 1075px #fff , 635px 314px #fff , 486px 38px #fff , 786px 103px #fff , 1354px 1465px #fff , 1156px 1183px #fff , 853px 191px #fff , 1673px 1277px #fff , 590px 1055px #fff , 343px 187px #fff , 327px 1308px #fff;
}

.stars-two::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 122px 89px #fff , 1128px 1701px #fff , 528px 207px #fff , 1519px 1612px #fff , 1798px 664px #fff , 208px 1430px #fff , 330px 1824px #fff , 1646px 1019px #fff , 239px 10px #fff , 1807px 1208px #fff , 1419px 194px #fff , 1126px 1816px #fff , 581px 51px #fff , 436px 1366px #fff , 360px 1055px #fff , 649px 1348px #fff , 1639px 352px #fff , 1586px 210px #fff , 752px 1295px #fff , 609px 1039px #fff , 1683px 1875px #fff , 1187px 954px #fff , 435px 106px #fff , 1879px 373px #fff , 825px 444px #fff , 49px 1066px #fff , 703px 627px #fff , 1108px 572px #fff , 640px 291px #fff , 1145px 1089px #fff , 1375px 101px #fff , 149px 830px #fff , 909px 653px #fff , 1844px 363px #fff , 1856px 628px #fff , 1167px 1054px #fff , 22px 1275px #fff , 950px 1495px #fff , 1994px 1170px #fff , 1779px 1484px #fff , 563px 1718px #fff , 1076px 875px #fff , 1929px 179px #fff , 1419px 397px #fff , 1845px 249px #fff , 1114px 663px #fff , 1936px 427px #fff , 853px 153px #fff , 131px 1957px #fff , 715px 344px #fff , 1526px 292px #fff , 892px 525px #fff , 1566px 928px #fff , 116px 1623px #fff , 220px 646px #fff , 772px 377px #fff , 735px 181px #fff , 853px 1238px #fff , 829px 325px #fff , 989px 502px #fff , 1759px 1503px #fff , 1442px 1003px #fff , 1040px 1520px #fff , 1172px 1104px #fff , 1643px 694px #fff , 182px 1485px #fff , 599px 1947px #fff , 506px 935px #fff , 843px 136px #fff , 494px 831px #fff , 933px 1049px #fff , 117px 993px #fff , 1921px 476px #fff , 1214px 1913px #fff , 1741px 1977px #fff , 798px 1564px #fff , 1400px 1116px #fff , 85px 7px #fff , 1523px 65px #fff , 631px 640px #fff , 649px 1534px #fff , 471px 1065px #fff , 1604px 1028px #fff , 914px 34px #fff , 1513px 1207px #fff , 1550px 1856px #fff , 1599px 604px #fff , 1792px 1525px #fff , 283px 170px #fff , 402px 1432px #fff , 573px 748px #fff , 1624px 92px #fff , 1005px 163px #fff , 887px 653px #fff , 953px 1751px #fff , 1441px 971px #fff , 854px 1916px #fff , 1250px 739px #fff , 64px 562px #fff , 193px 1298px #fff , 1058px 881px #fff , 1116px 1239px #fff , 1254px 962px #fff , 902px 407px #fff , 1585px 702px #fff , 771px 1904px #fff , 976px 860px #fff , 1605px 1823px #fff , 184px 540px #fff , 1288px 311px #fff , 1456px 1857px #fff , 1344px 1330px #fff , 1294px 400px #fff , 34px 520px #fff , 998px 1919px #fff , 1170px 111px #fff , 337px 1049px #fff , 1585px 614px #fff , 16px 1504px #fff , 1091px 1543px #fff , 436px 1658px #fff , 334px 1023px #fff , 755px 102px #fff , 1454px 333px #fff , 1873px 1268px #fff , 644px 1995px #fff , 105px 1583px #fff , 525px 1281px #fff , 1148px 939px #fff , 234px 430px #fff , 977px 405px #fff , 146px 1232px #fff , 1759px 787px #fff , 1845px 1742px #fff , 986px 1167px #fff , 151px 1165px #fff , 1942px 140px #fff , 271px 1717px #fff , 1137px 709px #fff , 199px 793px #fff , 1634px 388px #fff , 117px 1543px #fff , 483px 1672px #fff , 1874px 1018px #fff , 70px 905px #fff , 867px 507px #fff , 362px 1616px #fff , 285px 40px #fff , 1853px 1672px #fff , 1778px 555px #fff , 493px 573px #fff , 1237px 835px #fff , 1600px 333px #fff , 112px 91px #fff , 231px 1652px #fff , 1297px 1227px #fff , 1807px 870px #fff , 185px 525px #fff , 1360px 1856px #fff , 854px 719px #fff , 1183px 120px #fff , 892px 1594px #fff , 1678px 573px #fff , 1327px 455px #fff , 703px 861px #fff , 1170px 1995px #fff , 1419px 1363px #fff , 839px 16px #fff , 968px 1351px #fff , 1982px 1473px #fff , 1076px 1257px #fff , 1456px 1456px #fff , 573px 211px #fff , 250px 999px #fff , 67px 1524px #fff , 367px 776px #fff , 1389px 395px #fff , 759px 147px #fff , 1550px 762px #fff , 199px 1441px #fff , 860px 394px #fff , 27px 1984px #fff , 1407px 1803px #fff , 456px 1491px #fff , 1741px 704px #fff , 306px 256px #fff , 1396px 1434px #fff , 185px 895px #fff , 601px 1809px #fff , 1809px 1445px #fff , 1324px 787px #fff , 1833px 436px #fff , 1932px 1866px #fff , 697px 556px #fff , 1482px 1614px #fff , 375px 383px #fff , 1008px 386px #fff , 1873px 844px #fff , 1857px 615px #fff , 1155px 1121px #fff , 1259px 1189px #fff , 1400px 697px #fff , 1525px 1026px #fff , 1661px 428px #fff , 1239px 770px #fff , 19px 1096px #fff , 1547px 405px #fff , 789px 1482px #fff , 92px 1080px #fff , 1407px 143px #fff , 495px 1736px #fff , 68px 1860px #fff , 1377px 1910px #fff , 1108px 186px #fff , 1036px 1874px #fff , 173px 1825px #fff , 1289px 745px #fff , 405px 695px #fff , 1505px 1494px #fff , 1114px 1468px #fff , 278px 1496px #fff , 1525px 968px #fff , 896px 596px #fff , 1414px 679px #fff , 787px 961px #fff , 1869px 423px #fff , 345px 1268px #fff , 22px 1274px #fff , 1323px 1863px #fff , 1016px 329px #fff , 507px 1013px #fff , 1255px 731px #fff , 1127px 924px #fff , 437px 1362px #fff , 459px 377px #fff , 626px 1924px #fff , 1895px 207px #fff , 693px 768px #fff , 423px 1209px #fff , 1484px 1440px #fff , 635px 1057px #fff , 675px 1993px #fff , 405px 1395px #fff , 239px 1659px #fff , 934px 1054px #fff , 1193px 1033px #fff , 126px 1103px #fff , 858px 1725px #fff , 446px 1102px #fff , 14px 686px #fff , 461px 239px #fff , 762px 1579px #fff , 1536px 1273px #fff , 637px 1697px #fff , 1919px 1911px #fff , 1985px 1992px #fff , 875px 741px #fff , 911px 1975px #fff , 1312px 858px #fff , 225px 334px #fff , 948px 1676px #fff , 1735px 1382px #fff , 1828px 147px #fff , 1368px 686px #fff , 1203px 1358px #fff , 1008px 1164px #fff , 528px 1927px #fff , 797px 224px #fff , 1491px 1718px #fff , 672px 1836px #fff , 1957px 516px #fff , 1477px 1749px #fff , 825px 365px #fff , 1603px 817px #fff , 1597px 186px #fff , 1955px 1697px #fff , 17px 1746px #fff , 296px 1840px #fff , 772px 375px #fff , 1880px 1245px #fff , 1497px 468px #fff , 1286px 1385px #fff , 1498px 19px #fff , 939px 1368px #fff , 252px 377px #fff , 1023px 253px #fff , 1056px 734px #fff , 969px 1724px #fff , 983px 163px #fff , 1428px 1987px #fff , 1554px 1584px #fff , 844px 597px #fff , 174px 1058px #fff , 1852px 254px #fff , 1160px 1922px #fff , 1166px 143px #fff , 528px 479px #fff , 57px 1452px #fff , 1563px 299px #fff , 990px 1145px #fff;
          box-shadow: 122px 89px #fff , 1128px 1701px #fff , 528px 207px #fff , 1519px 1612px #fff , 1798px 664px #fff , 208px 1430px #fff , 330px 1824px #fff , 1646px 1019px #fff , 239px 10px #fff , 1807px 1208px #fff , 1419px 194px #fff , 1126px 1816px #fff , 581px 51px #fff , 436px 1366px #fff , 360px 1055px #fff , 649px 1348px #fff , 1639px 352px #fff , 1586px 210px #fff , 752px 1295px #fff , 609px 1039px #fff , 1683px 1875px #fff , 1187px 954px #fff , 435px 106px #fff , 1879px 373px #fff , 825px 444px #fff , 49px 1066px #fff , 703px 627px #fff , 1108px 572px #fff , 640px 291px #fff , 1145px 1089px #fff , 1375px 101px #fff , 149px 830px #fff , 909px 653px #fff , 1844px 363px #fff , 1856px 628px #fff , 1167px 1054px #fff , 22px 1275px #fff , 950px 1495px #fff , 1994px 1170px #fff , 1779px 1484px #fff , 563px 1718px #fff , 1076px 875px #fff , 1929px 179px #fff , 1419px 397px #fff , 1845px 249px #fff , 1114px 663px #fff , 1936px 427px #fff , 853px 153px #fff , 131px 1957px #fff , 715px 344px #fff , 1526px 292px #fff , 892px 525px #fff , 1566px 928px #fff , 116px 1623px #fff , 220px 646px #fff , 772px 377px #fff , 735px 181px #fff , 853px 1238px #fff , 829px 325px #fff , 989px 502px #fff , 1759px 1503px #fff , 1442px 1003px #fff , 1040px 1520px #fff , 1172px 1104px #fff , 1643px 694px #fff , 182px 1485px #fff , 599px 1947px #fff , 506px 935px #fff , 843px 136px #fff , 494px 831px #fff , 933px 1049px #fff , 117px 993px #fff , 1921px 476px #fff , 1214px 1913px #fff , 1741px 1977px #fff , 798px 1564px #fff , 1400px 1116px #fff , 85px 7px #fff , 1523px 65px #fff , 631px 640px #fff , 649px 1534px #fff , 471px 1065px #fff , 1604px 1028px #fff , 914px 34px #fff , 1513px 1207px #fff , 1550px 1856px #fff , 1599px 604px #fff , 1792px 1525px #fff , 283px 170px #fff , 402px 1432px #fff , 573px 748px #fff , 1624px 92px #fff , 1005px 163px #fff , 887px 653px #fff , 953px 1751px #fff , 1441px 971px #fff , 854px 1916px #fff , 1250px 739px #fff , 64px 562px #fff , 193px 1298px #fff , 1058px 881px #fff , 1116px 1239px #fff , 1254px 962px #fff , 902px 407px #fff , 1585px 702px #fff , 771px 1904px #fff , 976px 860px #fff , 1605px 1823px #fff , 184px 540px #fff , 1288px 311px #fff , 1456px 1857px #fff , 1344px 1330px #fff , 1294px 400px #fff , 34px 520px #fff , 998px 1919px #fff , 1170px 111px #fff , 337px 1049px #fff , 1585px 614px #fff , 16px 1504px #fff , 1091px 1543px #fff , 436px 1658px #fff , 334px 1023px #fff , 755px 102px #fff , 1454px 333px #fff , 1873px 1268px #fff , 644px 1995px #fff , 105px 1583px #fff , 525px 1281px #fff , 1148px 939px #fff , 234px 430px #fff , 977px 405px #fff , 146px 1232px #fff , 1759px 787px #fff , 1845px 1742px #fff , 986px 1167px #fff , 151px 1165px #fff , 1942px 140px #fff , 271px 1717px #fff , 1137px 709px #fff , 199px 793px #fff , 1634px 388px #fff , 117px 1543px #fff , 483px 1672px #fff , 1874px 1018px #fff , 70px 905px #fff , 867px 507px #fff , 362px 1616px #fff , 285px 40px #fff , 1853px 1672px #fff , 1778px 555px #fff , 493px 573px #fff , 1237px 835px #fff , 1600px 333px #fff , 112px 91px #fff , 231px 1652px #fff , 1297px 1227px #fff , 1807px 870px #fff , 185px 525px #fff , 1360px 1856px #fff , 854px 719px #fff , 1183px 120px #fff , 892px 1594px #fff , 1678px 573px #fff , 1327px 455px #fff , 703px 861px #fff , 1170px 1995px #fff , 1419px 1363px #fff , 839px 16px #fff , 968px 1351px #fff , 1982px 1473px #fff , 1076px 1257px #fff , 1456px 1456px #fff , 573px 211px #fff , 250px 999px #fff , 67px 1524px #fff , 367px 776px #fff , 1389px 395px #fff , 759px 147px #fff , 1550px 762px #fff , 199px 1441px #fff , 860px 394px #fff , 27px 1984px #fff , 1407px 1803px #fff , 456px 1491px #fff , 1741px 704px #fff , 306px 256px #fff , 1396px 1434px #fff , 185px 895px #fff , 601px 1809px #fff , 1809px 1445px #fff , 1324px 787px #fff , 1833px 436px #fff , 1932px 1866px #fff , 697px 556px #fff , 1482px 1614px #fff , 375px 383px #fff , 1008px 386px #fff , 1873px 844px #fff , 1857px 615px #fff , 1155px 1121px #fff , 1259px 1189px #fff , 1400px 697px #fff , 1525px 1026px #fff , 1661px 428px #fff , 1239px 770px #fff , 19px 1096px #fff , 1547px 405px #fff , 789px 1482px #fff , 92px 1080px #fff , 1407px 143px #fff , 495px 1736px #fff , 68px 1860px #fff , 1377px 1910px #fff , 1108px 186px #fff , 1036px 1874px #fff , 173px 1825px #fff , 1289px 745px #fff , 405px 695px #fff , 1505px 1494px #fff , 1114px 1468px #fff , 278px 1496px #fff , 1525px 968px #fff , 896px 596px #fff , 1414px 679px #fff , 787px 961px #fff , 1869px 423px #fff , 345px 1268px #fff , 22px 1274px #fff , 1323px 1863px #fff , 1016px 329px #fff , 507px 1013px #fff , 1255px 731px #fff , 1127px 924px #fff , 437px 1362px #fff , 459px 377px #fff , 626px 1924px #fff , 1895px 207px #fff , 693px 768px #fff , 423px 1209px #fff , 1484px 1440px #fff , 635px 1057px #fff , 675px 1993px #fff , 405px 1395px #fff , 239px 1659px #fff , 934px 1054px #fff , 1193px 1033px #fff , 126px 1103px #fff , 858px 1725px #fff , 446px 1102px #fff , 14px 686px #fff , 461px 239px #fff , 762px 1579px #fff , 1536px 1273px #fff , 637px 1697px #fff , 1919px 1911px #fff , 1985px 1992px #fff , 875px 741px #fff , 911px 1975px #fff , 1312px 858px #fff , 225px 334px #fff , 948px 1676px #fff , 1735px 1382px #fff , 1828px 147px #fff , 1368px 686px #fff , 1203px 1358px #fff , 1008px 1164px #fff , 528px 1927px #fff , 797px 224px #fff , 1491px 1718px #fff , 672px 1836px #fff , 1957px 516px #fff , 1477px 1749px #fff , 825px 365px #fff , 1603px 817px #fff , 1597px 186px #fff , 1955px 1697px #fff , 17px 1746px #fff , 296px 1840px #fff , 772px 375px #fff , 1880px 1245px #fff , 1497px 468px #fff , 1286px 1385px #fff , 1498px 19px #fff , 939px 1368px #fff , 252px 377px #fff , 1023px 253px #fff , 1056px 734px #fff , 969px 1724px #fff , 983px 163px #fff , 1428px 1987px #fff , 1554px 1584px #fff , 844px 597px #fff , 174px 1058px #fff , 1852px 254px #fff , 1160px 1922px #fff , 1166px 143px #fff , 528px 479px #fff , 57px 1452px #fff , 1563px 299px #fff , 990px 1145px #fff;
}

@-webkit-keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes starsAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  .container {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
            transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
  }
  .link-one,
  .link-two,
  .link-three,
  .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .link-one {
    top: 60px;
    left: -30px;
  }
  .link-two {
    bottom: 50px;
    right: -30px;
  }
  .link-three {
    bottom: 60px;
    right: -30px;
  }
  .link-four {
    bottom: 40px;
    right: -50px;
  }
  .link-wrapper:hover .link-one,
  .link-wrapper:hover .link-two,
  .link-wrapper:hover .link-three,
  .link-wrapper:hover .link-four {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg) scale(1.3);
            transform: rotate(-90deg) scale(1.3);
  }
}

@media (min-width: 500px) and (max-width: 667px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .link-one {
    top: 30px;
    left: -30px;
  }
  .link-four {
    bottom: -10px;
    right: 30px;
  }
}

@media (min-width: 668px) and (max-width: 823px) {
  .container {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

/* sections */
.section-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  color: #aab2bf;
  font-size: 18px;
}

.section-wrapper h2 {
  padding: 10px 0;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.aboutme p {
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  padding: 30px;
  line-height: 22px;
}

.skills-title {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 30px 0;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  position: relative;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 16.66%;
      -ms-flex: 16.66% 0;
          flex: 16.66% 0;
}

.skills-box i {
  font-size: 80px;
  padding: 10px 0;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 45%;
      -ms-flex: 45% 0;
          flex: 45% 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
  text-align: center;
  padding: 30px 0 0 0;
}

.projects-box p {
  padding: 10px 0;
}

.projects-box p:first-of-type {
  text-transform: uppercase;
  color: #fff;
}

.projects-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects-image img {
  width: 100%;
  height: 100%;
}

.projects-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121519;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-image:hover:after {
  opacity: 0.8;
}

.projects-image:hover .projects-links {
  opacity: 1;
}

.projects-links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.projects-links a {
  text-decoration: none;
  background: #222831;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects-links a:hover {
  background: #fff;
  color: #222831;
}

.contact-wrapper {
  padding: 30px 0;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#222831), to(#121519));
  background: linear-gradient(to top, #222831, #121519);
}

.contact-wrapper a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #aab2bf;
}

.contact-wrapper a:hover {
  color: #fff;
}

.contact-wrapper a i {
  margin: 0 10px 0 0;
}

@media (max-width: 1115px) {
  .section-wrapper {
    padding: 50px 0 0 0;
  }
  .section-wrapper h2 {
    padding: 10px 30px;
  }
  .aboutme p {
    padding: 10px 30px 40px 30px;
  }
  .skills-title {
    padding: 30px 30px 0 30px;
  }
  .skills-wrapper {
    padding: 30px 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .skills-box i {
    font-size: 50px;
    padding: 20px;
  }
  .projects-box {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 0 30px;
  }
  .projects-box p {
    padding: 30px 0;
    margin: 30px 0 0 0;
  }
  .projects-image {
    overflow: visible;
  }
  .projects-image img {
    max-width: 500px;
    max-height: 200px;
  }
  .projects-image:after {
    opacity: 0;
  }
  .projects-image:hover:after {
    opacity: 0;
  }
  .projects-image:hover .projects-links {
    opacity: 1;
  }
  .projects-links {
    top: 100%;
    margin: 30px 0 0 0;
    opacity: 1;
  }
}

/* footer */
footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #aab2bf;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */