/* variables */

$font-color: #aab2bf;
$font-hover: #fff;
$font-size: 16px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 12px;
$bg-color-light: #222831;
$bg-color-dark: #121519;


/* general */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: $font-size;
    background: $bg-color-dark;
}

/* navigation */

nav {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    transition: .5s;
}

.nav-bg {
    background: $bg-color-dark;
    border-bottom: 1px solid $bg-color-light;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    color: $font-color;
    height: 100%;
    position: relative;

    .title-left {
        left: 0;
        transform: translateX(0);
        font-size: $font-size;
    }

    div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        align-self: center;
        color: $font-hover;
        font-size: $font-size-medium;
        transition: .5s;

        h1 {
            color: $font-hover;
            font-size: inherit;
            font-weight: normal;

            span {
                color: $font-color;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

.nav-ul {
    display: none;
    padding: 0;
    position: absolute;
    right: 0;
    line-height: 50px;

    li {
        display: inline;
        padding: 0 0 0 10px;

        a {
            color: $font-color;
            text-decoration: none;

            &:hover {
                color: $font-hover;
            }
        }
    }
}

.nav-ul-show {
    display: block;
}

.navigation-mobile {
    display: none;
    height: 100%;
    background: $bg-color-dark;
    border-bottom: 1px solid $bg-color-light;

    .title {
        padding: 0 20px;
        width: 100vw;
        height: 100%;
        display: flex;
        color: $font-color;

        div {
            display: flex;
            flex-direction: column;
            flex: 97% 0;
            align-self: center;

            a {
                text-decoration: none;
            }

            h1 {
                color: $font-hover;
                font-size: $font-size;
                font-weight: normal;
            }

            h2 {
                color: $font-color;
                font-size: $font-size-small;
                font-weight: normal;
            }
        }

        i {
            width: 16px;
            flex: 3% 0;
            align-self: center;
            color: $font-color;
            cursor: pointer;

            &:hover {
                color: $font-hover;
            }
        }
    }
}

.dropdown {
    display: none;
    width: 100vw;
    background-color: $bg-color-dark;
    line-height: 50px;
    padding: 20px 0;

    li {
        text-align: center;
        padding: 0 10px;

        a {
            color: $font-color;
            text-decoration: none;

            &:hover {
                color: $font-hover;
            }
        }
    }
}

.dropdown-show {
    display: block;
}

@media (max-width: 1024px) {
    .navigation {
        display: none;
    }

    .navigation-mobile {
        display: block;
    }
}

/* header */

header {
    background: $bg-color-dark;
    background: -webkit-linear-gradient(to bottom, $bg-color-light, $bg-color-dark);
    background: linear-gradient(to bottom, $bg-color-light, $bg-color-dark);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 280px;
    color: $font-color;
}

.part-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 120px;
    z-index: 3;
}

.part-two {
    position: absolute;
    top: 120px;
    left: 320px;
    width: 120px;
    height: 80px;
    z-index: 2;
}

.part-three {
    position: absolute;
    top: 200px;
    left: 440px;
    width: 40px;
    height: 80px;
    z-index: 1;
}

.star-one,
.star-two,
.star-three,
.star-four {
    position: absolute;
    border-radius: 50%;
    background: white;
}

.star-one {
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
}

.star-two {
    bottom: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
}

.star-three,
.star-four {
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
}

.star-one::before,
.star-two::before,
.star-three::before,
.star-four::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #bdffff;
    z-index: -1;
    filter: blur(5px);
    transition: all .5s ease-out;
}

.star-two::before {
    width: 30px;
    height: 30px;
}

.link-one,
.link-two,
.link-three,
.link-four {
    position: absolute;
    text-transform: uppercase;
    transition: .5s;
}

.link-one {
    top: -7px;
    left: -100px;
}

.link-two {
    bottom: 0px;
    right: -90px;
}

.link-three {
    bottom: -20px;
    right: 30px;
}

.link-four {
    bottom: 0;
    right: -90px;
}

.link-wrapper {
    width: 100%;
    text-decoration: none;
    color: $font-color;
}

.link-wrapper:hover {
    cursor: pointer;

    .star-one::before,
    .star-three::before,
    .star-four::before {
        width: 30px;
        height: 30px;
    }

    .star-two:before {
        width: 40px;
        height: 40px;
    }

    .link-one,
    .link-two,
    .link-three,
    .link-four {
        color: white;
        transform: scale(1.3);
    }
}

@function stars ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #fff';

    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #fff'
    }

    @return unquote($value);
}

.stars-wrapper {
    position: relative;
    display: block;
    width: 2000px;
    height: 2000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stars-animated {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation: starsAnimation 200s linear infinite;
}

.stars-one {
    opacity: .5;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    box-shadow: stars(100);

    &::after {
        content: " ";
        position: absolute;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: transparent;
        box-shadow: stars(100);
    }
}

.stars-two {
    opacity: .5;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
    box-shadow: stars(300);

    &::after {
        content: " ";
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: transparent;
        box-shadow: stars(300);
    }
}

@keyframes starsAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// stars animation is based on Parallax Stars by https://codepen.io/saransh

@media (max-width: 420px) {
    .container {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(90deg) scale(0.9);
    }

    .link-one,
    .link-two,
    .link-three,
    .link-four {
        transform-origin: center;
        transform: rotate(-90deg);
    }

    .link-one {
        top: 60px;
        left: -30px;
    }

    .link-two {
        bottom: 50px;
        right: -30px;
    }

    .link-three {
        bottom: 60px;
        right: -30px;
    }

    .link-four {
        bottom: 40px;
        right: -50px;
    }

    .link-wrapper:hover {

        .link-one,
        .link-two,
        .link-three,
        .link-four {
            transform-origin: center;
            transform: rotate(-90deg) scale(1.3);
        }
    }
}

@media (min-width: 500px) and (max-width: 667px) {
    .container {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
    }

    .link-one {
        top: 30px;
        left: -30px;
    }

    .link-four {
        bottom: -10px;
        right: 30px;
    }
}

@media (min-width: 668px) and (max-width: 823px) {
    .container {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

/* sections */

.section-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    color: $font-color;
    font-size: $font-size-medium;

    h2 {
        padding: 10px 0;
        font-weight: normal;
        font-size: $font-size-large;
        text-transform: uppercase;
        color: $font-hover;
    }
}

.aboutme {
    p {
        background: -webkit-linear-gradient(to top, $bg-color-light, $bg-color-dark);
        background: linear-gradient(to top, $bg-color-light, $bg-color-dark);
        padding: 30px;
        line-height: 22px;
    }
}

.skills-title {
    font-size: $font-size-medium;
    font-weight: normal;
    text-transform: uppercase;
    color: $font-hover;
    padding: 30px 0;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    background: -webkit-linear-gradient(to top, $bg-color-light, $bg-color-dark);
    background: linear-gradient(to top, $bg-color-light, $bg-color-dark);
    position: relative;
}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 16.66% 0;

    i {
        font-size: 80px;
        padding: 10px 0;
    }
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-box {
    display: flex;
    flex-direction: column;
    flex: 45% 0;
    background: -webkit-linear-gradient(to top, $bg-color-light, $bg-color-dark);
    background: linear-gradient(to top, $bg-color-light, $bg-color-dark);
    text-align: center;
    padding: 30px 0 0 0;

    p {
        padding: 10px 0;

        &:first-of-type {
            text-transform: uppercase;
            color: $font-hover;
        }
    }
}

.projects-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $bg-color-dark;
        opacity: 0;
        z-index: 1;
        transition: 0.5s;
    }

    &:hover:after {
        opacity: 0.8;
    }

    &:hover .projects-links {
        opacity: 1;
    }

}

.projects-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
    z-index: 2;

    a {
        text-decoration: none;
        background: $bg-color-light;
        padding: 10px;
        color: $font-hover;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
            background: $font-hover;
            color: $bg-color-light;
        }
    }
}

.contact-wrapper {
    padding: 30px 0;
    text-align: center;
    background: -webkit-linear-gradient(to top, $bg-color-light, $bg-color-dark);
    background: linear-gradient(to top, $bg-color-light, $bg-color-dark);

    a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: $font-color;

        &:hover {
            color: $font-hover;
        }

        i {
            margin: 0 10px 0 0;
        }
    }
}

@media (max-width: 1024px) {
    .section-wrapper {
        padding: 50px 0 0 0;

        h2 {
            padding: 10px 30px;
        }
    }

    .aboutme {
        p {
            padding: 10px 30px 40px 30px;
        }
    }

    .skills-title {
        padding: 30px 30px 0 30px;
    }

    .skills-wrapper {
        padding: 30px 30px;
        justify-content: space-between;
    }

    .skills-box {
        flex: 1;
        text-align: center;

        i {
            font-size: 50px;
            padding: 20px;
        }
    }

    .projects-box {
        flex: 100%;
        padding: 0 30px;

        p {
            padding: 30px 0;
            margin: 30px 0 0 0;
        }
    }

    .projects-image {
        overflow: visible;

        img {
            max-width: 500px;
            max-height: 200px;
        }

        &:after {
            opacity: 0;
        }

        &:hover:after {
            opacity: 0;
        }

        &:hover .projects-links {
            opacity: 1;
        }
    }

    .projects-links {
        top: 100%;
        margin: 30px 0 0 0;
        opacity: 1;
    }
}

/* footer */

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $font-color;
    font-size: $font-size;
}